-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}
  :javascript
    function initialize() {
      geocoder = new google.maps.Geocoder();
    }
    
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyCEY0Wtv2sMZZRW0Fb3hmutA-7ET0O-58o&sensor=true&callback=initialize";
      document.body.appendChild(script);
    }
    
    window.onload = loadScript;
    
    isGeoCoded = false;
    
    $(document).ready(function() {
      $("#profile_form").submit(function (event) {
        var latitude = $("#profile_latitude");
        var longitude = $("#profile_longitude");
        
        if (!isGeoCoded) {
          event.preventDefault();

          if (geocoder) {
            var address = $("#profile_location").val();
                        
            geocoder.geocode({'address': address}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                latitude.val(results[0].geometry.location.lat());
                longitude.val(results[0].geometry.location.lng());
              }
              isGeoCoded = true;
              
              $("#profile_form").submit();
            });
          }
        }
      });
    });

= simple_form_for(@profile, :url => profile_path, :html => {:id => 'profile_form', :class => 'form-horizontal' }) do |f|
  = f.error_notification

  = f.input :fullname, :label => "Nama Lengkap"
  = f.input :dob, :label => "Tanggal lahir",  :input_html => {:style => 'width:auto'},
    start_year: Date.today.year - 40, end_year: Date.today.year - 12, order: [:day, :month, :year]
  = f.input :place_of_birth, :label => "Tempat lahir"
  = f.input :location, :label => "Alamat lengkap saat ini", :as => :text, :input_html => {:rows => 5, :class => "span4"}
  = f.input :motto, :label => "Visi", :input_html => {:rows => 5, :class => "span4"}
  = f.input :interest, :label => "Minat", :input_html => {:rows => 5, :class => "span4"}
  = f.input :batch, :label => "Angkatan ke", :collection => ["1", "2", "3", "4", "5", "6", "7", "8", "9", "Rescue", "10", "11", "12", "13"]
  = f.hidden_field :latitude
  = f.hidden_field :longitude

  .control-group
    .controls
      = f.button :submit, :class => 'btn-primary'