%p
  %b Fullname:
  = @profile.fullname
%p
  %b Dob:
  = @profile.dob
%p
  %b Place of birth:
  = @profile.place_of_birth
%p
  %b Location:
  = @profile.location
%p
  %b Motto:
  = @profile.motto
%p
  %b Interest:
  = @profile.interest
%p
  %b Batch:
  = @profile.batch

= link_to 'Edit', edit_profile_path, :class => 'btn btn-primary'
