%h3 Statistics

%table.table.table-striped
  %tr
    %td Total new users
    %td= User.where("created_at >= '09-01-2013'").count
  %tr
    %td Total users
    %td= User.where("current_sign_in_at >= '09-01-2013'").count
  %tr
    %td Filled in biodata
    %td= ProfileCandidate.joins("INNER JOIN users ON users.id = profile_candidates.user_id AND users.current_sign_in_at >= '09-01-2013'").count
  %tr
    %td Uploaded photo
    %td= ProfileCandidate.joins("INNER JOIN users ON users.id = profile_candidates.user_id AND users.current_sign_in_at >= '09-01-2013' WHERE profile_candidates.photo is not null").count
  %tr
    %td Uploaded recommendation letter
    %td= ProfileCandidate.joins("INNER JOIN users ON users.id = profile_candidates.user_id AND users.current_sign_in_at >= '09-01-2013' WHERE profile_candidates.recommendation_letter is not null").count
  %tr
    %td Submitted
    %td= ProfileCandidate.submitted.count

%hr

.row
  .span3
    %table.table.table-striped
      %tr
        %th{:style => 'width:70%'} Province
        %th Count
      -@provinces_count.each do |province|
        %tr
          %td= province[0]
          %td= province[1]
         
    %b Provinsi yang belum ada:
    =@unexist_provinces.join(", ")

  .span7
    %table.table.table-striped
      %tr
        %th{:style => 'width:70%'} School
        %th Count
      -@schools_count.each do |school|
        %tr
          %td= school[0]
          %td= school[1]