%h3 Statistics

%table.table.table-striped
  %tr
    %td Total users
    %td= User.count
  %tr
    %td Filled in biodata
    %td= ProfileCandidate.count
  %tr
    %td Uploaded photo
    %td= ProfileCandidate.where('photo is not null').count
  %tr
    %td Uploaded recommendation letter
    %td= ProfileCandidate.where('recommendation_letter is not null').count
  %tr
    %td Submitted
    %td= ProfileCandidate.where("status = 'SUBMITTED'").count

%hr

%table.table.table-striped{:style => 'width:250px'}
  %tr
    %th{:style => 'width:200px'} Province
    %th Count
  -@provinces_count.each do |province|
    %tr
      %td= province[0]
      %td= province[1]
  
%b Provinsi yang belum ada:
=@unexist_provinces.join(", ")
