-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}
  %script{type: "text/javascript", src: 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js'}

  :javascript
    #{map_loader(@latitudes, @longitudes)}  

.row
  .span3
    %h4 Profil Anda
    = simple_form_for(@profile, :html => {:id => 'profile_form', :class => 'form-vertical'}) do |f|
      = f.error_notification
  
      .form-inputs
        = f.input :biodata, :label => "Biodata singkat (max 160 karakter)", :input_html => {:rows => 6}
        = f.submit "Update", :class => "btn btn-primary"
        
  .span8
    #map_canvas{:style => "width:800px; height:300px"}

.row
  .span12
    %h3 Daftar calon peserta FIM 14
  
    %table.table.table-striped
      %thead
        %tr
          %th{:style=>'width:5%'} No
          %th{:style=>'width:15%'} Nama
          %th{:style=>'width:20%'} Asal Kampus
          %th{:style=>'width:20%'} Asal Daerah
          %th{:style=>'width:40%'} Biodata singkat
      %tbody
        - @profiles.each_with_index do |profile, i|
          %tr
            %td= i+1
            %td= profile.fullname
            %td= profile.school
            %td= profile.location
            %td= profile.biodata
