-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}
  :css
    -# html { height: 100% }
    -# body { height: 100%; margin: 0; padding: 0 }
    #map_canvas { height: 100% }
  :javascript
    function initialize() {
      var mapOptions = {
        zoom: 4,
        center: new google.maps.LatLng(5, 120.644),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
      
      #{
        res = ""
        i = 0
        @profiles.each do |p|
          unless p.latitude.nil?
            res += "var myLatLng_#{i} = new google.maps.LatLng(#{p.latitude}, #{p.longitude});"
            res += "var marker_#{i} = new google.maps.Marker({position: myLatLng_#{i},map: map,title:'s'});"
            i += 1
          end
        end
        res
      }
    }
    
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyCEY0Wtv2sMZZRW0Fb3hmutA-7ET0O-58o&sensor=true&callback=initialize";
      document.body.appendChild(script);
    }
    
    window.onload = loadScript;

.row
  .span5
    %h2 About FIM
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar tortor ac tortor dictum congue. Maecenas placerat, massa in aliquet consequat, enim purus convallis neque, et viverra augue purus vitae urna.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar tortor ac tortor dictum congue. Maecenas placerat, massa in aliquet consequat, enim purus convallis neque, et viverra augue purus vitae urna.
  .span4
    %h4 Rekapitulasi pendaftar FIM 14
    #map_canvas{:style => "width:550px; height:300px"}

.row
  .span12
    %h3 Apa yang ingin Anda lakukan

.row
  .span3.service-item
    %h4
      %i.icon-file>
      Pendaftaran FIM 14
    %img{:alt => "", :src => "http://placehold.it/270x125"}/
    %p
    =link_to new_profile_candidate_path do
      %button.btn.btn-primary{:type => "button"} Daftar >>
  .span3.service-item
    %h4
      %i.icon-list-alt>
      Daftar Calon Peserta FIM 14
    %img{:alt => "", :src => "http://placehold.it/270x125"}/
    %p
    =link_to profile_candidates_path do
      %button.btn.btn-primary{:type => "submit"} Lihat >>
