-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}
  :css
    -# html { height: 100% }
    -# body { height: 100%; margin: 0; padding: 0 }
    #map_canvas { height: 100% }
  :javascript
    function initialize() {
      var mapOptions = {
        zoom: 4,
        center: new google.maps.LatLng(5, 120.644),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
      
      #{
        res = ""
        i = 0
        @profiles.each do |p|
          unless p.latitude.nil?
            res += "var myLatLng_#{i} = new google.maps.LatLng(#{p.latitude}, #{p.longitude});"
            res += "var marker_#{i} = new google.maps.Marker({position: myLatLng_#{i},map: map,title:'s'});"
            i += 1
          end
        end
        res
      }
    }
    
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyCEY0Wtv2sMZZRW0Fb3hmutA-7ET0O-58o&sensor=true&callback=initialize";
      document.body.appendChild(script);
    }
    
    window.onload = loadScript;

%h3 Portal Alumni Keluarga FIM

%p 
  Selamat datang di portal kami! Di sini Anda bisa bertemu dengan saudara-saudara FIM yang sudah lama tidak bertemu.. 
  Blablablabla... Blablablabla... Blablablabla... Blablablabla. Yey!
  
%br
#map_canvas{:style => "width:600px; height:300px"}

%br

.thumbnails
  .span4
    .thumbnail
      %img{:"data-src" => "holder.js/300x200", :alt => "", :src=>'http://www.mikabethedwardsphotography.com/blog/wp-content/uploads/2009/02/103-300x200.jpg'}
      .caption
        %h3 Tentang Anda
        %p Silakan yang belum masukan data, cekidot!
        =link_to "Register", new_user_registration_path, {:class => 'btn btn-primary'}
        =link_to "Log in", new_user_session_path, {:class => 'btn'}
        

  .span4
    .thumbnail
      %img{:"data-src" => "holder.js/300x200", :alt => "", :src=>'http://www.mikabethedwardsphotography.com/blog/wp-content/uploads/2009/02/103-300x200.jpg'}
      .caption
        %h3 Lihat data
        %p Semua data ada di sini gan!
        =link_to "Lihat data", profile_path, {:class => 'btn btn-primary'}
