.span3
  - if @profile.nil?
    %br
    %br
    = link_to 'Create your profile', new_profile_path, :class => 'btn btn-primary'
  - else
    %h4
      = @profile.fullname
    %div
      %b Tempat lahir:
      = @profile.place_of_birth
    %div
      %b Tanggal lahir:
      = @profile.dob.to_formatted_s(:rfc822) 
    %div
      %b Domisili:
      = @profile.location
    %div
      %b Motto:
      = @profile.motto
    %div
      %b Interest:
      = @profile.interest
    %div
      %b Batch:
      = @profile.batch
    
    %br
    = link_to 'Edit', edit_profile_path, :class => 'btn btn-primary'

.span8
  %h3 Data alumni FIM
  %table.table.table-condensed
    %tr
      %th Fullname
      %th Dob
      %th Place of birth
      %th Location
      %th Motto
      %th Interest
      %th Batch
  
    - @profiles.each do |profile|
      %tr
        %td= profile.fullname
        %td= profile.dob
        %td= profile.place_of_birth
        %td= profile.location
        %td= profile.motto
        %td= profile.interest
        %td= profile.batch
