%h3 Update data berikut?

%table.table.table-striped
  %thead
    %tr
      %th{:style => 'width:20%'} Nama
      
      %th{:style => 'width:5%'} Organisasi
      %th{:style => 'width:5%'} Kepanitiaan
      %th{:style => 'width:5%'} Wawasan
      %th{:style => 'width:5%'} Kelengkapan

      %th{:style => 'width:5%'} Reliability
      %th{:style => 'width:5%'} Willingness

      %th{:style => 'width:25%'} Domisili khusus
      %th{:style => 'width:25%'} Karakter khusus
    %tbody
      -@profiles.each do |profile|
        %tr
          %td= profile.fullname

          / %td= ProfileCandidate.to_alphabet(profile.organization_point)
          %td= ProfileCandidate.to_alphabet(profile.committee_point)
          %td= ProfileCandidate.to_alphabet(profile.personal_knowledge_point)
          %td= ProfileCandidate.to_alphabet(profile.document_completeness_point)
          
          / %td= ProfileCandidate.to_alphabet(profile.reliability_point)
          / %td= ProfileCandidate.to_alphabet(profile.willingness_point)
          
          %td= profile.special_location_comment
          %td= profile.special_character_comment
          
=form_tag recruiter_save_upload_path do
  - @profiles.each do |profile|
    =hidden_field_tag 'profile_candidates[][id]', profile.id
    / =hidden_field_tag 'profile_candidates[][organization_point]', profile.organization_point
    =hidden_field_tag 'profile_candidates[][committee_point]', profile.committee_point
    =hidden_field_tag 'profile_candidates[][personal_knowledge_point]', profile.personal_knowledge_point
    =hidden_field_tag 'profile_candidates[][document_completeness_point]', profile.document_completeness_point
    / =hidden_field_tag 'profile_candidates[][reliability_point]', profile.reliability_point
    / =hidden_field_tag 'profile_candidates[][willingness_point]', profile.willingness_point
    =hidden_field_tag 'profile_candidates[][special_location_comment]', profile.special_location_comment
    =hidden_field_tag 'profile_candidates[][special_character_comment]', profile.special_character_comment
  =submit_tag "Submit", :class => "btn btn-primary"
 