.row
  .span12
    %h4 10 recently submitted:
    %table.table.table-strip.table-condensed
      %thead
        %tr
          %th No
          %th Nama
          %th Pernah daftar
          %th Insitusi
          %th Provinsi
          %th Gender
          %th Agama
          %th Handhine
          %th Pilihan Lokasi
      %tbody
        - @recently_added_profiles.each_with_index do |profile, i|
          %tr
            %td= i+1
            %td= profile.fullname
            %td= profile.application_count > 0 ? profile.application_count : ''
            %td= profile.school
            %td= profile.province
            %td= profile.gender == "0" ? 'Laki-laki' : 'Perempuan'
            %td= profile.religion
            %td= profile.phone
            %td= profile.accepted_location
.row
  .span12
    %h4 Cibubur
  .span4
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th{:style => 'width:70%'} Gender
          %th Jumlah
      %tbody
        -@genders_count_cibubur.each do |gender|
          %tr
            %td= gender[0] == '0' ? 'Laki-laki' : 'Perempuan'
            %td= gender[1]
  .span4
    %table.table.table-condensed.table-striped
      %thead  
        %tr
          %th{:style => 'width:70%'} Institusi
          %th Jumlah
      %tbody
        -@schools_count_cibubur.each do |school|
          %tr
            %td= school[0]
            %td= school[1]
    
  .span4
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th{:style => 'width:70%'} Provinsi
          %th Jumlah
      %tbody
        -@provinces_count_cibubur.each do |province|
          %tr
            %td= province[0]
            %td= province[1]
            
.row
  .span12
    %h4 Bukit Tinggi
  .span4
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th{:style => 'width:70%'} Gender
          %th Jumlah
      %tbody
        -@genders_count_bukittinggi.each do |gender|
          %tr
            %td= gender[0] == '0' ? 'Laki-laki' : 'Perempuan'
            %td= gender[1]
  .span4
    %table.table.table-condensed.table-striped
      %thead  
        %tr
          %th{:style => 'width:70%'} Institusi
          %th Jumlah
      %tbody
        -@schools_count_bukittinggi.each do |school|
          %tr
            %td= school[0]
            %td= school[1]
    
  .span4
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th{:style => 'width:70%'} Provinsi
          %th Jumlah
      %tbody
        -@provinces_count_bukittinggi.each do |province|
          %tr
            %td= province[0]
            %td= province[1]
            
.row
  .span12
    %h4 Cibubur atau Bukit Tinggi
  .span4
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th{:style => 'width:70%'} Gender
          %th Jumlah
      %tbody
        -@genders_count_both.each do |gender|
          %tr
            %td= gender[0] == '0' ? 'Laki-laki' : 'Perempuan'
            %td= gender[1]
  .span4
    %table.table.table-condensed.table-striped
      %thead  
        %tr
          %th{:style => 'width:70%'} Institusi
          %th Jumlah
      %tbody
        -@schools_count_both.each do |school|
          %tr
            %td= school[0]
            %td= school[1]
    
  .span4
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th{:style => 'width:70%'} Provinsi
          %th Jumlah
      %tbody
        -@provinces_count_both.each do |province|
          %tr
            %td= province[0]
            %td= province[1]
            
.row
  .span12
    %h4 Tidak bisa mengikuti
  .span4
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th{:style => 'width:70%'} Gender
          %th Jumlah
      %tbody
        -@genders_count_none.each do |gender|
          %tr
            %td= gender[0] == '0' ? 'Laki-laki' : 'Perempuan'
            %td= gender[1]
  .span4
    %table.table.table-condensed.table-striped
      %thead  
        %tr
          %th{:style => 'width:70%'} Institusi
          %th Jumlah
      %tbody
        -@schools_count_none.each do |school|
          %tr
            %td= school[0]
            %td= school[1]
    
  .span4
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th{:style => 'width:70%'} Provinsi
          %th Jumlah
      %tbody
        -@provinces_count_none.each do |province|
          %tr
            %td= province[0]
            %td= province[1]

%hr
.row
  .span12
    = form_tag update_accepted_location_choices_profile_candidates_path, :method => :put do
      %table.table.table-strip.table-condensed
        %thead
          %tr
            %th 
              =link_to 'No', recruiter_index_accepted_path
            %th
              =link_to 'Nama', recruiter_index_accepted_path(:order => 'fullname')
            %th 
              =link_to 'Pernah daftar', recruiter_index_accepted_path(:order => 'application_count')
            %th
              =link_to 'Institusi', recruiter_index_accepted_path(:order => 'school')
            %th 
              =link_to 'Provinsi', recruiter_index_accepted_path(:order => 'province')
            %th 
              =link_to 'Gender', recruiter_index_accepted_path(:order => 'gender')
            %th 
              =link_to 'Agama', recruiter_index_accepted_path(:order => 'religion')
            %th 
              =link_to 'Handphone', recruiter_index_accepted_path(:order => 'phone')
            %th
              =link_to 'Pilihan lokasi', recruiter_index_accepted_path(:order => 'accepted_location')
            %th
              Cibubur
            %th
              Bukit Tinggi  
        %tbody
          - @profiles.each_with_index do |profile, i|
            %tr
              %td= i+1
              %td= profile.fullname
              %td= profile.application_count > 0 ? profile.application_count : ''
              %td= profile.school
              %td= profile.province
              %td= profile.gender == "0" ? 'Laki-laki' : 'Perempuan'
              %td= profile.religion
              %td= profile.phone
              %td= profile.accepted_location
              %td= check_box_tag 'cibuburs[]', profile.id, (profile.accepted_location_choices == 0) || (profile.accepted_location_choices == 1) 
              %td= check_box_tag 'bukittinggis[]', profile.id, (profile.accepted_location_choices == 0) || (profile.accepted_location_choices == 2)
              
      = submit_tag("Update", :class => 'btn btn-primary')
