.row
  .span12
    %h3 Daftar calon peserta FIM 14
  .span1
    = link_to('Download', recruiter_index_path(:format => 'xls', :fullname => params[:fullname], :marked_by_id => params[:marked_by_id], :province => params[:province], :school => params[:school], :gender => params[:gender], :religion => params[:religion], :order => params[:order]), 
      :class => 'btn btn-primary')
  .span1
    = link_to('Upload', recruiter_upload_path, :class => 'btn btn-primary')
  .span6
    -if @is_recruiter_coordinator
      -unless (params[:marked_by_id])
        =link_to("Lihat penugasan saya", recruiter_index_path(:marked_by_id => current_user.id), :class => 'btn')
  - cache('recruiter_progress_' + current_user.id.to_s, :expires_in => 10.minutes) do
    .span4
      %p
        Dinilai:
        %b= count_marked(current_user.id)
        | Sisa:
        %b= count_submitted(current_user.id)
        (Update per 10 menit)

.row{:style => 'margin-top: 20px'}
  .span5
    = form_tag recruiter_index_path, :method => :get do
      = search_field_tag(:fullname, params[:fullname], :placeholder => 'Masukkan nama di sini')
      = submit_tag("Cari", :class => 'btn btn-primary')
      -if params[:marked_by_id] || params[:province] || params[:fullname] || params[:school] || params[:gender] || params[:religion]
        =link_to("Tampilkan semua", recruiter_index_path, :class => 'btn btn-danger')
.row
  .span2
    -if params[:order] == 'point'
      - new_params = if params.nil? then params else params.reject{|k,v| k == :order} end
      = link_to('Sort by time', recruiter_index_path(new_params), :class => 'btn btn-warning')
    -else 
      = link_to('Sort by point', recruiter_index_path({:order => :point}.merge(params)), :class => 'btn btn-warning')

.row{:style => 'margin-top: 20px'}
  .span12
    = form_tag update_marked_by_profile_candidates_path, :method => :put do
      - if @is_recruiter_coordinator
        - cache('recruiters_select', :expires_in => 1.hour) do
          = select("recruiter", "id", Role.includes(:users).find_by_name('recruiter').users.collect{|u| [ u.email, u.id]})
        - if params[:page]
          = hidden_field_tag("page", params[:page]) 
        %br
        = submit_tag("Assign checked candidates", :class => 'btn btn-primary')
        %br
        %br
      = render :partial => 'profile_candidates/index', :locals => {:profiles => @profiles, :full_column => true}
      
- cache('recruiters_statistics_' + (@is_recruiter_coordinator ? "coordinator" : "recruiter"), :expires_in => 10.minutes) do
  .row{:style => 'margin-top: 20px'}
    .span9
      %h4 Statistik penilaian (Update per 10 menit)
      %table.table.table-condensed.table-striped
        %thead
          %tr
            %th Email
            %th Dinilai
            %th Sisa
            %th Min
            %th Max
            %th Avg Organi
            %th Avg Kepani
            %th Avg Wawasa
            %th Avg Dokume
            %th Avg Reliab
            %th Avg Willin
            %th Avg Total
        %tbody
          - Role.includes(:users).find_by_name('recruiter').users.each do |r|
            %tr
              -if @is_recruiter_coordinator
                %td
                  =link_to(r.email, recruiter_index_path(:marked_by_id => r.id))
              -else
                %td= r.email
              %td= count_marked(r.id)
              %td= count_submitted(r.id)
              %td= min_point(r.id)
              %td= max_point(r.id)
              %td= average_point(r.id, :organization_point)
              %td= average_point(r.id, :committee_point)
              %td= average_point(r.id, :personal_knowledge_point)
              %td= average_point(r.id, :document_completeness_point)
              %td= average_point(r.id, :reliability_point)
              %td= average_point(r.id, :willingness_point)
              %td= average_point(r.id)
          %tr
            %td
              %b Unassigned
            %td
            %td= count_unassigned
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
          %tr
            %td
              %b Global
            %td
              %b= count_marked(:all)
            %td
              %b= count_submitted(:all)
            %td
              %b= min_point(:all)
            %td
              %b= max_point(:all)
            %td
              %b= average_point(:all, :organization_point)
            %td
              %b= average_point(:all, :committee_point)
            %td
              %b= average_point(:all, :personal_knowledge_point)
            %td
              %b= average_point(:all, :document_completeness_point)
            %td
              %b= average_point(:all, :reliability_point)
            %td
              %b= average_point(:all, :willingness_point)
            %td
              %b= average_point(:all)
              
      %h4 Institusi (Update per 1 jam)
      - cache('school_statistics', :expires_in => 1.hours) do
        %table.table.table-condensed.table-striped
          %thead
            %tr
              %th{:style => 'width:70%'} Provinsi
              %th Jumlah
          %tbody
            -@schools_count.each do |school|
              %tr
                %td
                  =link_to(school[0], recruiter_index_path(:school => school[0]))
                %td= school[1]
    .span3
      %h4 Provinsi (Update per 1 jam)
      - cache('province_statistics', :expires_in => 1.hours) do
        %table.table.table-condensed.table-striped
          %thead
            %tr
              %th{:style => 'width:70%'} Provinsi
              %th Jumlah
          %tbody
            -@provinces_count.each do |province|
              %tr
                %td
                  =link_to(province[0], recruiter_index_path(:province => province[0]))
                %td= province[1]
                
      %hr
      %h4 Gender (Update per 1 jam)
      - cache('gender_statistics', :expires_in => 1.hours) do
        %table.table.table-condensed.table-striped
          %thead
            %tr
              %th{:style => 'width:70%'} Gender
              %th Jumlah
          %tbody
            -@genders_count.each do |gender|
              %tr
                %td
                  =link_to(gender[0], recruiter_index_path(:gender => gender[0]))
                %td= gender[1]
      
      %hr
      %h4 Religion (Update per 1 jam)
      - cache('religion_statistics', :expires_in => 1.hours) do
        %table.table.table-condensed.table-striped
          %thead
            %tr
              %th{:style => 'width:70%'} Religion
              %th Jumlah
          %tbody
            -@religions_count.each do |religion|
              %tr
                %td
                  =link_to(religion[0], recruiter_index_path(:religion => religion[0]))
                %td= religion[1]