.row
  .span12
    %h3 Daftar calon peserta FIM 14
  .span1
    = link_to('Download', recruiter_index_path(:format => 'xls'), :class => 'btn btn-primary')
  .span1
    = link_to('Upload', recruiter_upload_path, :class => 'btn btn-primary')
    
.row{:style => 'margin-top: 40px'}
  .span12
    = form_tag update_marked_by_profile_candidates_path, :method => :put do
      - if current_user.has_role? "recruiter_coordinator"
        = select("recruiter", "id", Role.includes(:users).find_by_name('recruiter').users.collect{|u| [ u.email, u.id]})
        - if params[:page]
          = hidden_field_tag("page", params[:page]) 
        %br
        = submit_tag("Assign checked candidates", :class => 'btn btn-primary')
        %br
        %br
      = render :partial => 'profile_candidates/index', :locals => {:profiles => @profiles, :full_column => true}