.row
  .span12
    %h3 Daftar calon peserta FIM 14
  .span1
    = link_to('Download', recruiter_index_path(:format => 'xls'), :class => 'btn btn-primary')
  .span1
    = link_to('Upload', recruiter_upload_path, :class => 'btn btn-primary')
  .span6
    -if @is_recruiter_coordinator
      -if params[:marked_by_id]
        =link_to("Lihat semua", recruiter_index_path, :class => 'btn')
      -else 
        =link_to("Lihat penugasan saya", recruiter_index_path(:marked_by_id => current_user.id), :class => 'btn')
  .span4
    %p
      Dinilai:
      %b= count_marked(current_user.id)
      | Sisa:
      %b= count_submitted(current_user.id)
      (Update per 10 menit)

.row{:style => 'margin-top: 20px'}
  .span12
    = form_tag update_marked_by_profile_candidates_path, :method => :put do
      - if @is_recruiter_coordinator
        - cache('recruiters_select', :expires_in => 1.hour) do
          = select("recruiter", "id", Role.includes(:users).find_by_name('recruiter').users.collect{|u| [ u.email, u.id]})
          - if params[:page]
            = hidden_field_tag("page", params[:page]) 
        %br
        = submit_tag("Assign checked candidates", :class => 'btn btn-primary')
        %br
        %br
      = render :partial => 'profile_candidates/index', :locals => {:profiles => @profiles, :full_column => true}

.row{:style => 'margin-top: 20px'}
  .span5
    %h4 Statistik penilaian (Update per 10 menit)
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th Email
          %th Dinilai
          %th Sisa
          %th Avg
          %th Max
          %th Min
      %tbody
        - Role.includes(:users).find_by_name('recruiter').users.each do |r|
          %tr
            %td= r.email
            %td= count_marked(r.id)
            %td= count_submitted(r.id)
            %td= average_point(r.id)
            %td= max_point(r.id)
            %td= min_point(r.id)
        %tr
          %td
            %b Global
          %td
            %b= count_marked(:all)
          %td
            %b= count_submitted(:all)
          %td
            %b= average_point(:all)
          %td
            %b= max_point(:all)
          %td
            %b= min_point(:all)
