.row
  .span12
    %table.table.table-strip
      %thead
        %tr
          %th 
            =link_to 'No', recruiter_index_accepted_path
          %th
            =link_to 'Nama', recruiter_index_accepted_path(:order => 'fullname')
          %th 
            =link_to 'Pernah daftar', recruiter_index_accepted_path(:order => 'application_count')
          %th
            =link_to 'Institusi', recruiter_index_accepted_path(:order => 'school')
          %th 
            =link_to 'Provinsi', recruiter_index_accepted_path(:order => 'province')
          %th 
            =link_to 'Gender', recruiter_index_accepted_path(:order => 'gender')
          %th 
            =link_to 'Agama', recruiter_index_accepted_path(:order => 'religion')
          %th 
            =link_to 'Handphone', recruiter_index_accepted_path(:order => 'phone')
          %th 
            =link_to 'Rekomendasi', recruiter_index_accepted_path(:order => 'referal')
      %tbody
        - @profiles.each_with_index do |profile, i|
          %tr
            %td= i+1
            %td= profile.fullname
            %td= profile.application_count > 0 ? profile.application_count : ''
            %td= profile.school
            %td= profile.province
            %td= profile.gender == "0" ? 'Laki-laki' : 'Perempuan'
            %td= profile.religion
            %td= profile.phone
            %td= profile.referal