-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}

.span8
  .well
    = simple_form_for(@local_leader_profile, :html => {:class => 'form-horizontal'}) do |f|
      = f.error_notification
      = display_base_errors @local_leader_profile

      .form-inputs
        %h4 Data Komunitas
        %blockquote
          %div
            Isilah dengan data Komunitas anda
        = f.input :organization_name, :label => "Nama Komunitas"
        = f.input :organization_year, :label => "Tahun Berdiri", :collection => (1900..2014)
        = f.input :organization_category, :label => "Bidang Organisasi (Contoh : Sosial, Pendidikan, Budaya, Pertanian, dll)"
        = f.input :organization_activity, :label => "Kegiatan yang telah berlangsung" , :input_html => {:rows => 5, :class => "span4"}
        = f.input :organization_count_member, :label => "Jumlah Anggota"
        = f.input :organization_goal, :label => "Tujuan Pendirian Komunitas" , :input_html => {:rows => 5, :class => "span4"}
        = f.input :organization_achievement, :label => "Prestasi Komunitas (jika ada)" , :input_html => {:rows => 5, :class => "span4"}
        = f.input :organization_contact, :label => "Kontak Komunitas <b>FORMAT</b> [Web][Facebook][Twitter][Alamat][Telp Narahubung]" , :input_html => {:rows => 5, :class => "span4"}
        = f.input :organization_network, :label => "Jaringan Komunitas (Sebutkan Komunitas/organisasi lain/badan pemerintahan yang pernah bekerja sama dengan organisasi anda)" , :input_html => {:rows => 5, :class => "span4"}
        %h4 Esai tentang “Bung Hatta”
        %blockquote
          %div
            Ceritakan bagian perjalanan hidup Bung Hatta yang menunjukkan salah satu dari tujuh pilar karakter FIM yang juga cenderung dimiliki oleh Anda. Sampaikan pengalaman Anda terkait pilar tersebut.
            Sertakan referensi bacaan (buku/website) yang digunakan dalam esai
        = f.input :essay_about_organization, :label => "Essai (Maksimal 1000 kata", :input_html => {:rows => 8, :class => "span5"}
        %h4 Unduh Template Surat Rekomendasi
        %blockquote
          %div
            Gunakan Template Surat ini untuk diisi oleh perekomendasi Anda, lalu unggah dokumen tersebut (sudah diisi, ditandatangani, dan discan) pada step berikutnya, Template bisa di download
            %a{href: "https://docs.google.com/uc?authuser=0&id=0ByAd-hBNx_8kTTd5bjRsVEdzNmc&export=download"}
              di sini

      .form-actions
        = f.submit "Next >", :class => "btn btn-primary"
