-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}

  :javascript
    function initialize() {
      geocoder = new google.maps.Geocoder();
    }
    
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyCEY0Wtv2sMZZRW0Fb3hmutA-7ET0O-58o&sensor=true&callback=initialize";
      document.body.appendChild(script);
    }
    
    window.onload = loadScript;
    
    isGeoCoded = false;
    
    $(document).ready(function() {
      $("#profile_form").submit(function (event) {
        var latitude = $("#profile_candidate_latitude");
        var longitude = $("#profile_candidate_longitude");
        
        if (!isGeoCoded) {
          event.preventDefault();

          if (geocoder) {
            var address = $("#profile_candidate_location").val();
            console.log("Looking for location...: ");
            console.log(address);
            
            geocoder.geocode({'address': address}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                latitude.val(results[0].geometry.location.lat());
                longitude.val(results[0].geometry.location.lng());
                
                console.log("Found location: " + latitude.val() + ", " + longitude.val());
              }
              isGeoCoded = true;
              
              $("#profile_form").submit();
            });
          }
        }
      });
    });


.span8
  .well
    = simple_form_for(@profile, :html => {:id => 'profile_form', :class => 'form-horizontal'}) do |f|
      = f.error_notification
    
      .form-inputs
        = f.input :fullname, :label => "Nama lengkap"
        = f.input :dob, :input_html => {:style => 'width:auto'}, :label => "Tanggal lahir"
        = f.input :place_of_birth, :label => "Tempat lahir"
        = f.input :gender, :as => :select, :collection => [["Laki-laki", 0], ["Perempuan", 1]], :selected => 0
        = f.input :religion, :label => "Agama", :collection => ["Islam", "Katolik", "Protestan", "Hindu", "Budha", "Konghuchu"], :selected => 0
        = f.input :location, :label => "Alamat (e.g. Jalan Kaliuran Km 10, Wonorejo, Ngaglik, Sleman, Yogyakarta, Indonesia)", :as => :text, :input_html => {:rows => 5, :class => "span4"}
        = f.input :phone, :label => "Handphone"
        = f.input :email
        = f.input :hobby, :label => "Hobi"
        = f.input :blood_type, :label => "Golongan darah", :collection => ["A", "B", "AB", "O"], :selected => 0
        = f.input :school, :label => "Sekolah (Universitas/SMA)"
        = f.input :batch, :label => "Angkatan"
        = f.input :non_formal_education, :label => "Pendidikan non-formal", :input_html => {:rows => 8, :class => "span5"}
        = f.input :organization, :label => "Pengalaman Organisasi", :input_html => {:rows => 8, :class => "span5"}
        = f.input :committee, :label => "Pengalaman Kepanitiaan", :input_html => {:rows => 8, :class => "span5"}
        = f.input :workshop, :label => "Pelatihan Workshop Kepemudaan yang Pernah Diikuti", :input_html => {:rows => 8, :class => "span5"}
        = f.input :motivation, :label => "Motivasi Mengikuti FIM", :input_html => {:rows => 8, :class => "span5"}
        = f.input :information_from, :label => "Sumber Informasi FIM"
        = f.input :application_count, :label => "Sudah Berapa Kali Mendaftar FIM", :collection => ["Belum pernah", "1", "2", "3", "4", "5", ">5"]
        = f.input :performance_type, :label => "Ekspresi Seni Budaya"
        = f.input :referal, :label => "Tuliskan Nama Alumni FIM yang Merekomendasikan Anda"
        = f.hidden_field :latitude
        = f.hidden_field :longitude
  
      .form-actions
        = f.submit "Daftar", :class => "btn btn-primary"
