.row
  .span8
  .well
    = simple_form_for(@profile, :url => url_for(:action => 'recommendation_letter_step', :controller => 'profile_candidates'), :html => {:class => 'form-horizontal'}) do |f|
      = f.error_notification
      = display_base_errors @profile

      .form-inputs
        Masukan nama dan email perekomendasi di bawah ini jika kamu ingin melampirkan surat rekomendasi. Lalu tekan
        %b Simpan
        Secara otimatis sistem akan mengirimkan URL pengisian formulir rekomendasi kepada email di bawah ini paling lambat 1 x 24 Jam. 
        %b Ingat,
        hanya email yang pertama yang akan kami proses.
        %br
        

        = f.input :endorser_name, :label => "Nama Perekomendasi"
        = f.input :endorser_email, :label => "Email Perekomendasi"
        / = f.input :email, :required => true

        .form-actions
          / = f.button :submit, 'Simpan', :class => 'btn btn-success', :=> "Nama dan email perekomendasi telah disimpan."
          = f.submit "Simpan", :onclick => "return confirm('Nama dan email perekomendasi telah disimpan')", :class => 'btn btn-success'

          / = f.button :submit, "Sign in", :class => 'btn-primary'
          / = f.submit "Next >", :class => "btn btn-primary"
          / = f.submit "Send me reset password instructions", :class => "button", :confirm => "An email to reset your password has been sent"




        = link_to "< Back", step4_profile_candidates_path, :class => 'btn btn-danger'
        = link_to "Next >", step5_profile_candidates_path, :class => 'btn btn-primary'


        
/ .row
/   .span8
/     .well
/       = s3_uploader_form post: upload_recommendation_letter_profile_candidates_path, as: "profile_candidate[recommendation_letter]", 
/         id: "myS3Uploader", max_file_size: 30.megabytes do
/         - if @profile.recommendation_letter?
/           .controls
/             = link_to "Surat rekomendasi [#{@profile.fullname}]", @profile.recommendation_letter
      
/         -if @profile.recommendation_letter?
/           %br
/           %p 
/             Untuk mengganti surat rekomendasi, silakan unggah surat rekomendasi baru Anda.
/             %br
/             Jika tidak ingin mengganti, silakan klik Next


  
/         = file_field_tag :file, multiple: true
/         %script{id:"template-upload", type:"text/x-tmpl"}
/           %div{id:"file-{%=o.unique_id%}", :class=>"upload"}
/             {%=o.name%}
/             .progress
/               .bar{style:"width: 0%"}
        
/         %br
/         %br
/         = link_to "< Back", step4_profile_candidates_path, :class => 'btn btn-danger'
/         = link_to "Next >", step5_profile_candidates_path, :class => 'btn btn-primary'


.row
  .span8
    %p
      %h4 === Yang tertulis di bawah ini hanya berlaku jika kamu mengalami kesulitan teknis ===
    %p
      Jika setelah 
      %b berkali-kali 
      mencoba mengunggah melalui sistem di atas tetap tidak berhasil, kamu bisa mengunggah foto dan/atau surat rekomendasi melalui sistem alternatif kami di:
      %b= link_to "https://dropitto.me/fim", "https://dropitto.me/fim18"
      , dengan password: daftarfim18
    
    %p
      Namai file kamu sebagai berikut:
      %ul
        %li 
          Foto: 
          %b= "#{current_user.email}_Foto"
        %li 
          KTP / KK: 
          %b= "#{current_user.email}_KTP"
       
       
    
    %p
      %b Perhatian: file yang tidak dinamai sesuai format penamaan di atas TIDAK akan kami proses.
      Mohon ketelitiannya, kami tidak memproses nama-nama seperti 
      "KTP_agus@yahoo.com", "IMG_00012", 
      "FIM", atau "agus@yahoo.com_Foto_1".
      
    %p
      Dokumen kamu akan kami periksa secara manual (memakan waktu maksimum 1 hari). Setelah diproses, kamu akan diinformasikan via email untuk melanjutkan langkah-langkah berikutnya. Mohon secara rutin periksa email Anda.
    %p
      Jika kamu tidak menerima email dalam 1 hari, artinya aplikasi kamu tidak bisa kami proses (misal: tidak memenuhi kaidah penamaan di atas). Silakan hubungi info@forumindonesiamuda.org
