.span8
  .well
    = simple_form_for(@profile, :url => upload_photo_profile_candidates_path, :method => :post, 
      :html => {:id => 'profile_form', :class => 'form-horizontal', :multipart => true}) do |f|
      = f.error_notification
      = display_base_errors @profile

      .form-inputs
        .control-group
          = f.label "Foto"
          - if @profile.photo?
            .controls
              = image_tag(@profile.photo_url, :style => 'width:100px; height:100px')
        
          -if @profile.photo?
            %br
            %p 
              Untuk mengganti foto, silakan unggah foto baru Anda.
              %br
              Jika tidak ingin mengganti, silakan klik Next
          
          = f.input :photo, :label => false
      .form-actions
        = f.submit "Next", :class => "btn btn-primary"
