.span8
  .well
    = s3_uploader_form post: upload_photo_profile_candidates_path, as: "profile_candidate[photo]", 
      id: "myS3Uploader", max_file_size: 400.kilobytes do
      - if @profile.photo?
        .controls
          = link_to @profile.photo do
            = image_tag(@profile.photo, :style => 'width:100px; height:100px')
    
      -if @profile.photo?
        %br
        %p 
          Untuk mengganti foto, silakan unggah foto baru Anda.
          %br
          Jika tidak ingin mengganti, silakan klik Next

      = file_field_tag :file, multiple: true
      
      %br
      %br
      = link_to "< Back", step2_profile_candidates_path, :class => 'btn btn-danger'
      = link_to "Next >", step4_profile_candidates_path, :class => 'btn btn-primary'

      %br
      %br
      %p
        %b Hanya jika 
        Anda mengalami kesulitan teknis ketika mengunggah melalui sistem di atas, Anda bisa mengunggah foto dan/atau surat rekomendasi melalui sistem alternatif kami di:
        %b
          = link_to "http://www.dropitto.me/fim14", "http://www.dropitto.me/fim14"
        , dengan password: 
        %b daftarfim14
      
      %p
        Namai file Anda sebagai berikut:
        %ul
          %li Foto => [Email Anda]_Foto
          %li Surat rekomendasi => [Email Anda]_Rekomendasi
        [Email Anda] harus sama dengan email yang digunakan untuk registrasi di sistem ini
      
      %p
        Contoh (email saya: agus.widodo@gmail.com):
        %ul
          %li Foto => agus.widodo@gmail.com_Foto
          %li Surat rekomendasi => agus.widodo@gmail.com_Rekomendasi

      %br
      %br
      
%script{id:"template-upload", type:"text/x-tmpl"}
  %div{id:"file-{%=o.unique_id%}", :class=>"upload"}
    {%=o.name%}
    .progress
      .bar{style:"width: 0%"}