.span8
  .well
    = simple_form_for(@profile, :url => upload_recommendation_letter_profile_candidates_path, :method => :post, 
      :html => {:id => 'profile_form', :class => 'form-horizontal', :multipart => true}) do |f|
      = f.error_notification
      = display_base_errors @profile

      .form-inputs
        .control-group
          = f.label "Surat rekomendasi"
          - if @profile.recommendation_letter?
            .controls
              = link_to "[Cek]", @profile.recommendation_letter_url
              
          = f.input :recommendation_letter, :label => false
      .form-actions
        %p
          Dengan menekan tombol "Kumpulkan" di bawah ini, informasi Anda akan 
          diproses oleh tim rekruiter. Anda tidak bisa mengubah lagi.
          
        = f.submit "Kumpulkan", :class => "btn btn-primary"
