-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}

  :javascript
    function initialize() {
      geocoder = new google.maps.Geocoder();
    }
    
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyCEY0Wtv2sMZZRW0Fb3hmutA-7ET0O-58o&sensor=true&callback=initialize";
      document.body.appendChild(script);
    }
    
    window.onload = loadScript;
    
    var isGeoCoded = false;
    

    
      
      var latitudes = ['', '4.69513', '-8.40952', '-6.40582', '-3.80065', '0.55251', '-6.21154', '-1.48518', '-7.09091', '-7.15097', 
        '-7.53606', '-0.27878', '-3.09264', '-1.68149', '1.64063', '0.56033', '-2.74105', '0.293347', '-4.55858', '-3.23846',
        '1.57100', '-8.65738', '-8.65293', '-4.35450', '-1.33612', '0.29335', '-2.84414', '-3.66880', '-1.43003', '-4.14491',
        '0.62469', '-0.73994', '-3.31944', '2.11535', '-7.79722']
      var longitudes = ['', '96.74940', '115.18892', '106.06402', '102.25620', '123.06550', '106.84517', '102.43806', '107.66889', '110.14026', 
        '112.23840', '111.47529', '115.28376', '113.38235', '116.41939', '123.05539', '106.44059', '101.706829', '105.40681', '130.14527',
        '127.80877', '121.07937', '117.36165', '139.36531', '133.17472', '101.70683', '119.23208', '119.97405', '121.44562', '122.17460',
        '123.97500', '100.80001', '103.91440', '99.54510', '110.36880']
      
      $("#profile_form").submit(function (event) {
        var latitude = $("#profile_candidate_latitude");
        var longitude = $("#profile_candidate_longitude");
        
        if (!isGeoCoded) {
          event.preventDefault();

          if (!(typeof geocoder === "undefined")) {
            var address = $("#profile_candidate_location").val();
            var province = $("#profile_candidate_province").val() + ", Indonesia";
            
            var selectedIndex = $("#profile_candidate_province").prop('selectedIndex')-1
            
            var provinceLatitude = "";
            var provinceLongitude = ""
            if (selectedIndex > 0) {
              provinceLatitude = latitudes[selectedIndex];
              provinceLongitude = longitudes[selectedIndex];
            }
                
            console.log("Looking for location by address...: ");
            console.log(address);
            
            geocoder.geocode({'address': address}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                if (provinceLatitude != "" && provinceLongitude != "") {
                  var deltaLatitude = Math.abs(results[0].geometry.location.lat() - provinceLatitude);
                  var deltaLongitude = Math.abs(results[0].geometry.location.lng() - provinceLongitude);
                  
                  console.log("Delta Latitude:");
                  console.log(deltaLatitude);
                  console.log("Delta Longitude:");
                  console.log(deltaLongitude);
                  
                  if (deltaLatitude > 10 || deltaLongitude > 10)
                  {
                    latitude.val(provinceLatitude);
                    longitude.val(provinceLongitude);
                    isGeoCoded = true;
                  }
                }
              
                if (!isGeoCoded) {
                  latitude.val(results[0].geometry.location.lat());
                  longitude.val(results[0].geometry.location.lng());
                }
                console.log("Found location: " + latitude.val() + ", " + longitude.val());
              } else {
                console.log("Looking for location by province...: ");
                console.log(province);
                
                latitude.val(provinceLatitude);
                longitude.val(provinceLongitude);

                console.log("Found location: " + latitude.val() + ", " + longitude.val());
              }
              isGeoCoded = true;
              
              $("#profile_form").submit();
            });
          } else {
            isGeoCoded = true;
            $("#profile_form").submit();
          }
        }
      });
    });


.span8
  .well
    = simple_form_for(@profile, :html => {:id => 'profile_form', :class => 'form-horizontal'}) do |f|
      = f.error_notification
      = display_base_errors @profile

      .form-inputs
        <b> Data Diri </b> </br>
        = f.input :fullname, :label => "Nama lengkap"
        = f.input :dob, :input_html => {:style => 'width:auto'}, :label => "Tanggal lahir", 
          start_year: Date.today.year - 30, end_year: Date.today.year - 12, order: [:day, :month, :year]
        = f.input :place_of_birth, :label => "Tempat lahir"
        = f.input :gender, :label => "Jenis kelamin", :as => :select, :collection => [["Laki-laki", 0], ["Perempuan", 1]]
        = f.input :religion, :label => "Agama", :collection => ["Islam", "Katolik", "Protestan", "Hindu", "Budha", "Konghuchu"]
        = f.input :location, :label => "Alamat lengkap (contoh: Jalan Kaliurang Km 10, Wonorejo, Ngaglik, Sleman, Yogyakarta, Indonesia)", :as => :text, :input_html => {:rows => 4, :class => "span4"}
        = f.input :province, :label => "Provinsi domisili saat ini", :collection => ["Luar negeri"] + ProfileCandidate.all_province
        = f.input :phone, :label => "Nomor telepon"
        = f.input :facebook, :label => "Facebook"
        = f.input :twitter, :label => "Twitter</br> Contoh :@fimnews"
        = f.input :instagram, :label => "Instagram </br> Contoh :@fimnews"
        = f.input :line, :label => "ID Line"
        = f.input :hobby, :label => "Hobi </br> gunakan pemisah (,) jika lebih dari satu", :as => :string
        = f.input :blood_type, :label => "Golongan darah", :collection => ["A", "B", "AB", "O"]
        = f.input :school, :label => "Nama institusi pendidikan terakhir/yang sedang dijalani. Contoh: Universitas Indonesia", :input_html => {"data-provide" => "typeahead", "data-source" => all_school_json}
        = f.input :batch, :label => "Angkatan masuk pendidikan tertinggi", :collection => (2000..2015)
        = f.input :food_except, :label => "Apakah kamu memiliki alergi terhadap makanan atau hal lain? Jika iya, sebutkan", :input_html => {:rows => 3, :class => "span5"}
        = f.input :application_count, :label => "Sudah berapa kali mendaftar FIM", :collection => [["Belum pernah", 0], ["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], [">5", 6]]
        = f.input :performance_type, :label => "Tuliskan jenis ekspresi seni, kedaerahan atau kontemporer, yang bisa kamu tampilkan saat Bukalapak Forum Indonesia Muda. Contoh: Tari Pendet, Bermain Instrumen, Monolog, dll",:input_html => {:rows => 3, :class => "span5"}, :as => :text
        = f.input :information_from, :label => "Sumber informasi FIM", :collection => ["Poster/Selebaran", "Jejaring sosial (Facebook/Twitter)", "Alumni FIM", "Website", "Informasi mulut ke mulut","Line@", "Lainnya"]
        

        </br><b> Lima Aktivitas dan Pencapaian </b> </br>
        <p> Sebutkan dan jelaskan 5 aktivitas dan/atau pencapaian terbaik yang telah kamu raih.
        Aktivitas dan pencapaian di sini diartikan dalam bidang yang luas, bisa jadi berupa pengalaman organisasi, pengalaman kepanitiaan, pengalaman mendirikan organisasi, menjuarai kompetisi, partisipasi dalam suatu konferensi, penulisan ilmiah, dll. <p>


        </br>Aktivitas dan Pencapaian ke-1
        = f.input :name_of_activity_one, :label => "Aktivitas/Pencapaian", :input_html => {:rows => 3, :class => "span5"}
        = f.input :time_of_activity_one, :label => "Waktu/Durasi", :input_html => {:rows => 3, :class => "span5"}
        = f.input :organizer_one, :label => "Penyelenggara", :input_html => {:rows => 3, :class => "span5"}
        = f.input :scope_one, :label => " Cakupan Wilayah", :input_html => {:rows => 3, :class => "span5"}
        = f.input :achievment_one, :label => "Peran/Prestasi", :input_html => {:rows => 3, :class => "span5"}
        = f.input :Person_in_charge_one, :label => "No telepon ketua/ penanggung jawab yang bisa dihubungi untuk proses validasi, format (nama/jabatan/no.telepon)", :input_html => {:rows => 3, :class => "span5"}
        = f.input :reason_one, :label => "Alasan mengapa aktivitas/pencapaian ini merupakan yang terbaik bagi kamu (maksimal 350 kata) ", :input_html => {:rows => 5, :class => "span5"}
       
        </br>

        </br>Aktivitas dan Pencapaian ke-2
        = f.input :name_of_activity_two, :label => "Aktivitas/Pencapaian", :input_html => {:rows => 8, :class => "span5"}
        = f.input :time_of_activity_two, :label => "Waktu/Durasi", :input_html => {:rows => 8, :class => "span5"}
        = f.input :organizer_two, :label => "Penyelenggara", :input_html => {:rows => 8, :class => "span5"}
        = f.input :scope_two, :label => " Cakupan Wilayah", :input_html => {:rows => 8, :class => "span5"}
        = f.input :achievment_two, :label => "Peran/Prestasi", :input_html => {:rows => 8, :class => "span5"}
        = f.input :Person_in_charge_two, :label => "No telepon ketua/ penanggung jawab yang bisa dihubungi untuk proses validasi, format (nama/jabatan/no.telepon)", :input_html => {:rows => 3, :class => "span5"}
        = f.input :reason_two, :label => "Alasan mengapa aktivitas/pencapaian ini merupakan yang terbaik bagi kamu (maksimal 350 kata) ", :input_html => {:rows => 5, :class => "span5"}
        </br>

        </br>Aktivitas dan Pencapaian ke-3
        = f.input :name_of_activity_three, :label => "Aktivitas/Pencapaian", :input_html => {:rows => 8, :class => "span5"}
        = f.input :time_of_activity_three, :label => "Waktu/Durasi", :input_html => {:rows => 8, :class => "span5"}
        = f.input :organizer_three, :label => "Penyelenggara", :input_html => {:rows => 8, :class => "span5"}
        = f.input :scope_three, :label => " Cakupan Wilayah", :input_html => {:rows => 8, :class => "span5"}
        = f.input :achievment_three, :label => "Peran/Prestasi", :input_html => {:rows => 8, :class => "span5"}
        = f.input :Person_in_charge_three, :label => "No telepon ketua/ penanggung jawab yang bisa dihubungi untuk proses validasi, format (nama/jabatan/no.telepon)", :input_html => {:rows => 3, :class => "span5"}
        = f.input :reason_three, :label => "Alasan mengapa aktivitas/pencapaian ini merupakan yang terbaik bagi kamu (maksimal 350 kata) ", :input_html => {:rows => 5, :class => "span5"}
        </br>

        </br>Aktivitas dan Pencapaian ke-4
        = f.input :name_of_activity_four, :label => "Aktivitas/Pencapaian", :input_html => {:rows => 8, :class => "span5"}
        = f.input :time_of_activity_four, :label => "Waktu/Durasi", :input_html => {:rows => 8, :class => "span5"}
        = f.input :organizer_four, :label => "Penyelenggara", :input_html => {:rows => 8, :class => "span5"}
        = f.input :scope_four, :label => " Cakupan Wilayah", :input_html => {:rows => 8, :class => "span5"}
        = f.input :achievment_four, :label => "Peran/Prestasi", :input_html => {:rows => 8, :class => "span5"}
        = f.input :Person_in_charge_four, :label => "No telepon ketua/ penanggung jawab yang bisa dihubungi untuk proses validasi, format (nama/jabatan/no.telepon)", :input_html => {:rows => 3, :class => "span5"}
        = f.input :reason_four, :label => "Alasan mengapa aktivitas/pencapaian ini merupakan yang terbaik bagi kamu (maksimal 350 kata) ", :input_html => {:rows => 5, :class => "span5"}
        </br>

        </br>Aktivitas dan Pencapaian ke-5
        = f.input :name_of_activity_five, :label => "Aktivitas/Pencapaian", :input_html => {:rows => 8, :class => "span5"}
        = f.input :time_of_activity_five, :label => "Waktu/Durasi", :input_html => {:rows => 8, :class => "span5"}
        = f.input :organizer_five, :label => "Penyelenggara", :input_html => {:rows => 8, :class => "span5"}
        = f.input :scope_five, :label => " Cakupan Wilayah", :input_html => {:rows => 8, :class => "span5"}
        = f.input :achievment_five, :label => "Peran/Prestasi", :input_html => {:rows => 8, :class => "span5"}
        = f.input :Person_in_charge_five, :label => "No telepon ketua/ penanggung jawab yang bisa dihubungi untuk proses validasi, format (nama/jabatan/no.telepon)", :input_html => {:rows => 3, :class => "span5"}
        = f.input :reason_five, :label => "Alasan mengapa aktivitas/pencapaian ini merupakan yang terbaik bagi kamu (maksimal 350 kata) ", :input_html => {:rows => 5, :class => "span5"}
        </br>

        </br><b> Rencana Proyek Pasca Pelatihan Bukalapak Forum Indonesia Muda</b> </br>
        Pada bagian ini kamu diminta untuk menjelaskan rencana jangka pendek yang akan kamu lakukan ketika menyandang status sebagai anak FIM. </br>
        =f.input :project_type, :label => "Bidang Kegiatan Proyek", :collection=> ["Pendidikan Budaya", "Sosial", "Ekonomi dan Industri Kreatif", "Sains dan Teknologi", "Politik dan Kebijakan Publik"]
        =f.input :project_name, :label => "Nama Proyek", :input_html => {:rows => 3, :class => "span5"}
        =f.input :why, :label => "Kenapa kamu ingin melakukan proyek ini ? ", :input_html => {:rows => 3, :class => "span5"}
        =f.input :who, :label => "Siapa saja yang terlibat dalam proyek ini ? ", :input_html => {:rows => 3, :class => "span5"}
        =f.input :where, :label => "Dimana proyek ini akan dilakukan ? ", :input_html => {:rows => 3, :class => "span5"}
        =f.input :what, :label => "Apa saja yang dilakukan dalam proyek ini?(berikan penjelasan singkat)", :input_html => {:rows => 6, :class => "span5"}
        =f.input :indicator, :label => "Apa saja indikator keberhasilan proyek ini ? (harus dapat dikuantifikasi) misal: jumlah peserta 50 orang, kegiatan terpublikasi di tiga media nasional, dsb", :input_html => {:rows => 3, :class => "span5"}
        =f.input :scale, :label => "Dari skala 1 sampai 10, seberapa realistis proyek ini bisa dilakukan oleh FIM ? ", :collection => (1..10)
        =f.input :strength, :label => "Kenapa proyek ini penting untuk dilakukan ? ", :input_html => {:rows => 3, :class => "span5"}
        =f.input :this_year, :label => "Apakah proyek ini tepat dilakukan tahun ini ? ", :collection=> ["YA", "TIDAK"]
        =f.input :impact, :label => "Apakah dampak yang dihasilkan dari proyek ini sesuai dengan usaha yang dilakukan ? ", :collection=> ["YA", "TIDAK"]
        =f.input :right_person, :label => "Apakah kamu orang yang tepat untuk menjadi penanggung jawab proyek ini ? ", :collection=> ["YA", "TIDAK"]
        =f.input :plan_implementation, :label => "Bagaimana prencanaan proyek dan cara mewujudkan proyek ini berdasarkan timeline (maks 350 kata)", :input_html => {:rows => 5, :class => "span5"}
       


        </br><b> Kategori </b> </br>
        = f.input :person_type, :label => "Bagaimana kamu mendefinisikan dirimu sendiri?", :collection => ["Aktivis Sosial", "Organisatoris", "Entrepreneur", "Social Entrepreneur", "Agamawan", "Akademisi", "Profesional", "Seniman", "Lainnya"]
        =f.input :other_category, :label => "<b> [Penting] </b> kolom ini hanya diisi jika kamu memilih LAINNYA, pada kategori di atas</br> Isikan yang sesuai dengan Kamu "
        
        / <b> </br>Informasi Pemberi Rekomendasi </b>
        / <br> Masukan nama dan email perekomendasi di bawah ini jika kamu ingin melampirkan surat rekomendasi pada tahap selanjutnya, atau kosongkan jika tidak melampirkan surat rekomendasi. 

        / = f.input :endorser_name, :label => "Nama Perekomendasi"
        / = f.input :endorser_email, :label => "Email Perekomendasi"

        

        </br><b> Pernyataan Komitmen </b> </br>
        <p> Dengan ini, saya bersedia untuk aktif selama minimal 1 tahun pada kegiatan pasca FIM apabila saya diterima sebagai peserta Bukalapak Forum Indonesia Muda. Adapun pilihan kegiatan Pasca Training yang saya pilih adalah : (dapat memilih lebih dari 1) <p>

        = f.input :is_committed_to_central_fim, :label => " 1. Saya akan komitmen pada FIM Pusat (Media, Program, Fundraising, Kesekretariatan"
        = f.input :is_committed_to_regional_fim, :label => "2. Saya akan komitmen pada FIM regional"
        %blockquote
          %div
            List FIM Regional bisa dilihat
            %a{href: "http://www.forumindonesiamuda.org/" , :target => "_blank"}
              disini
        = f.input :is_committed_to_own_organization, :label => "Saya akan kembali aktif ke dalam organisasi sendiri dan akan membuka jejaring dengan FIM dalam minimal 1 kegiatan bersama"
       

        .controls
          %label
            %blockquote
              %p
                Salin dan Lengkapi Pernyataan Dibawah ini
              %small
                Saya, [NAMA LENGKAP] menyatakan bahwa keterangan di atas diisi dengan sebenar-benarnya dan saya bersedia mengikuti seluruh rangkaian kegiatan pelatihan Bukalapak Forum Indonesia Muda
        = f.input :agreement,
          :label => false, :input_html => {:rows => 3, :class => "span5", :value => ((!@profile.agreement? || @profile.agreement.empty?) ? 'Saya, [NAMA LENGKAP] menyatakan bahwa keterangan di atas diisi dengan sebenar-benarnya dan saya bersedia mengikuti seluruh rangkaian kegiatan pelatihan Bukalapak Forum Indonesia Muda ' : @profile.agreement)}
     

        = f.hidden_field :latitude
        = f.hidden_field :longitude
  
      .form-actions
        = f.submit "Next >", :class => "btn btn-primary"
