.row
  .span8
    .well
      = s3_uploader_form post: upload_photo_profile_candidates_path, as: "profile_candidate[photo]", 
        id: "myS3Uploader", max_file_size: 10.megabytes do
        - if @profile.photo?
          .controls
            = link_to @profile.photo do
              = image_tag(@profile.photo, :style => 'width:100px; height:100px')
      
        -if @profile.photo?
          %br
          %p 
            Untuk mengganti foto, silakan unggah foto baru Anda.
            %br
            Jika tidak ingin mengganti, silakan klik Next
  
        = file_field_tag :file, multiple: true
        %script{id:"template-upload", type:"text/x-tmpl"}
          %div{id:"file-{%=o.unique_id%}", :class=>"upload"}
            {%=o.name%}
            .progress
              .bar{style:"width: 0%"}      
  
        %br
        %br
        = link_to "< Back", step2_profile_candidates_path, :class => 'btn btn-danger'
        = link_to "Next >", step4_profile_candidates_path, :class => 'btn btn-primary'

.row
  .span8
    %p
      %h4 === Yang tertulis di bawah ini hanya berlaku jika kamu mengalami kesulitan teknis ===
    %p
      Jika setelah 
      %b berkali-kali 
      mencoba mengunggah melalui sistem di atas tetap tidak berhasil, kamu bisa mengunggah foto dan/atau surat rekomendasi melalui sistem alternatif kami di:
      %b= link_to "https://dropitto.me/fim18", "https://dropitto.me/fim18"
      , dengan password: daftarfim18
    
    %%p
      Namai file kamu sebagai berikut:
      %ul
        %li 
          Foto: 
          %b= "#{current_user.email}_Foto"
        %li 
          KTP / KK: 
          %b= "#{current_user.email}_KTP"
       
    
    %p
      %b Perhatian: file yang tidak dinamai sesuai format penamaan di atas TIDAK akan kami proses.
      Mohon ketelitiannya, kami tidak memproses nama-nama seperti 
      "KTP_agus@yahoo.com", "IMG_00012", 
      "FIM", atau "agus@yahoo.com_Foto_1".
      "
    %p
      Dokumen kamu akan kami periksa secara manual (memakan waktu maksimum 1 hari). Setelah diproses, kamu akan diinformasikan via email untuk melanjutkan langkah-langkah berikutnya. Mohon secara rutin periksa email Anda.
    %p
      Jika kamu tidak menerima email dalam 1 hari, artinya aplikasi kamu tidak bisa kami proses (misal: tidak memenuhi kaidah penamaan di atas). Silakan hubungi info@forumindonesiamuda.org
