.span8
  .well
    = s3_uploader_form post: upload_recommendation_letter_profile_candidates_path, as: "profile_candidate[recommendation_letter]", 
      id: "myS3Uploader", max_file_size: 400.kilobytes do
      - if @profile.recommendation_letter?
        .controls
          = link_to "Surat rekomendasi [#{@profile.fullname}]", @profile.recommendation_letter
    
      -if @profile.recommendation_letter?
        %br
        %p 
          Untuk mengganti surat rekomendasi, silakan unggah surat rekomendasi baru Anda.
          %br
          Jika tidak ingin mengganti, silakan klik Next

      = file_field_tag :file, multiple: true
      %script{id:"template-upload", type:"text/x-tmpl"}
        %div{id:"file-{%=o.unique_id%}", :class=>"upload"}
          {%=o.name%}
          .progress
            .bar{style:"width: 0%"}
      
      %br
      %br
      = link_to "< Back", step3_profile_candidates_path, :class => 'btn btn-danger'
      = link_to "Next >", step5_profile_candidates_path, :class => 'btn btn-primary'
