.row
  .span8
    .well
      = s3_uploader_form post: upload_photo_profile_candidates_path, as: "profile_candidate[photo]", 
        id: "myS3Uploader", max_file_size: 2.megabytes do
        - if @profile.photo?
          .controls
            = link_to @profile.photo do
              = image_tag(@profile.photo, :style => 'width:100px; height:100px')
      
        -if @profile.photo?
          %br
          %p 
            Untuk mengganti foto, silakan unggah foto baru Anda.
            %br
            Jika tidak ingin mengganti, silakan klik Next
  
        = file_field_tag :file, multiple: true
        %script{id:"template-upload", type:"text/x-tmpl"}
          %div{id:"file-{%=o.unique_id%}", :class=>"upload"}
            {%=o.name%}
            .progress
              .bar{style:"width: 0%"}      
  
        %br
        %br
        = link_to "< Back", step2_profile_candidates_path, :class => 'btn btn-danger'
        = link_to "Next >", step4_profile_candidates_path, :class => 'btn btn-primary'

.row
  .span8
    %p
      %b Hanya jika 
      Anda mengalami kesulitan teknis ketika mengunggah melalui sistem di atas, Anda bisa mengunggah foto dan/atau surat rekomendasi melalui sistem alternatif kami di:
      = link_to "http://www.dropitto.me/fim14", "http://www.dropitto.me/fim14"
      , dengan password: daftarfim14
    
    %p
      Namai file Anda sebagai berikut:
      %ul
        %li= "Foto => #{current_user.email}_Foto"
        %li= "Surat rekomendasi => #{current_user.email}_Rekomendasi"
    
    %p
      %b Perhatian: file yang tidak dinamakan sesuai format di atas TIDAK akan kami proses.
      Jika ada lebih dari satu surat rekomendasi, mohon disatukan surat-surat rekomendasinya dengan format ZIP. Foto tetap diupload terpisah.
      
    %p
      Dokumen Anda akan kami periksa secara manual (memakan waktu 1-2 hari). Setelah diproses, Anda akan diinformasikan via email untuk melanjutkan langkah-langkah berikutnya. Mohon secara rutin periksa email Anda.