.span8
  .well
    = s3_uploader_form post: upload_photo_profile_candidates_path, as: "profile_candidate[photo]", 
      id: "myS3Uploader", max_file_size: 300.kilobytes do
      - if @profile.photo?
        .controls
          = link_to @profile.photo do
            = image_tag(@profile.photo, :style => 'width:100px; height:100px')
    
      -if @profile.photo?
        %br
        %p 
          Untuk mengganti foto, silakan unggah foto baru Anda.
          %br
          Jika tidak ingin mengganti, silakan klik Next

      = file_field_tag :file, multiple: true
      
      %br
      %br
      = link_to "< Back", step2_profile_candidates_path, :class => 'btn btn-danger'
      = link_to "Next >", step4_profile_candidates_path, :class => 'btn btn-primary'

%script{id:"template-upload", type:"text/x-tmpl"}
  %div{id:"file-{%=o.unique_id%}", :class=>"upload"}
    {%=o.name%}
    .progress
      .bar{style:"width: 0%"}