-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}

.span8
  .well
    = simple_form_for(@strategic_leader_profile, :url => strategic_leader_profile_candidates_path, :html => {:class => 'form-horizontal'}) do |f|
      = f.error_notification
      = display_base_errors @strategic_leader_profile

      .form-inputs
        = f.input :activity_name
        = f.input :activity_duration
        = f.input :activity_scope
        = f.input :activity_role
        = f.input :activity_leader_phone
        = f.input :activity_reason
      .form-actions
        = f.submit "Next >", :class => "btn btn-primary"
