=content_for :head do
  :javascript
    $(function() {
      $('.footable').footable();
    });
  -if full_column
    :javascript
      $(function() {
        var checkbox = $('input[name="profile_candidate_ids[]"]');
        var autoChecking = false
        checkbox.change(function() {
          if (this.checked && !autoChecking) {
            autoChecking = true;
            $(this).parents('tr').first().nextAll('tr').has(':checkbox').slice(0, 19).find(':checkbox').prop('checked', true)
            autoChecking = false;
          }
        });
      });
      


%div{:style => "text-align:center"}
  = will_paginate profiles 
  
%table.footable
  %thead
    %tr
      - if !full_column
        %th{:style=>'width:3%'} No
        %th{:style=>'width:7%'} 
        %th{'data-class' => 'expand', :style => 'width:20%'} Nama
        %th{:style=>'width:30%'} Institusi
        %th{:style=>'width:40%'} Biodata singkat
      -else
        %th{:style=>"width:3%"} No
        %th{:style=>"width:7%"} Foto
        %th{:style=>"width:7%"} KTP
        %th{'data-class' => 'expand', :style => 'width:20%'} Nama
        
        %th{:style=>'width:10%'} Dinilai oleh
        %th{'data-hide' => 'all'} Organisasi
        %th{'data-hide' => 'all'} Kepanitiaan
        %th{'data-hide' => 'all'} Wawasan
        %th{'data-hide' => 'all'} Kelengkapan
        %th{:style=>'width:5%'} CV

        %th{'data-hide' => 'all'} Reliability
        %th{'data-hide' => 'all'} Willingness
        %th{:style=>'width:5%'} Motiv
        
        %th{:style=>'width:5%'} Total

        %th{:style=>'width:12%'} Pilihan Jalur
        %th{:style=>'width:12%'} Karakter khusus
        %th{:style=>'width:10%'} Rekomendasi
        %th{:style=>'width:5%'} Pernah daftar
        
        - if @is_recruiter_coordinator
          %th{:style=>'width:5%'}

        %th{'data-hide' => 'all'} Institusi
        %th{'data-hide' => 'all'} Provinsi
        %th{'data-hide' => 'all'} Surat rekomendasi
        %th{'data-hide' => 'all'} Tanggal lahir
        %th{'data-hide' => 'all'} Tempat lahir
        %th{'data-hide' => 'all'} Alamat
        %th{'data-hide' => 'all'} Gender
        %th{'data-hide' => 'all'} Agama
        %th{'data-hide' => 'all'} Handphone
        %th{'data-hide' => 'all'} Hobi
        %th{'data-hide' => 'all'} Gol darah
        %th{'data-hide' => 'all'} Angkatan
        %th{'data-hide' => 'all'} Pantangan Makanan
        %th{'data-hide' => 'all'} Commit Agreement
        %th{'data-hide' => 'all'} Komitmen ke FIM Pusat
        %th{'data-hide' => 'all'} Komitmen ke FIM Regional
        %th{'data-hide' => 'all'} Komitmen ke Organisasi Awal untuk FIM
        %th{'data-hide' => 'all'} Info dari
        %th{'data-hide' => 'all'} Pertunjukan
        %th{'data-hide' => 'all'} Pilihan Jalur
        %th{'data-hide' => 'all'} INFO Khusus
      
        
      %th{'data-hide'=>'all'} Facebook
      %th{'data-hide'=>'all'} Twitter
      %th{'data-hide'=>'all'} Email
  %tbody
    - profiles.each_with_index do |profile, i|
      %tr
        %td{:style => 'width:4px'}
          = profiles.offset + i+1
        %td{:style => 'width:16px'}
          - if profile.photo? && (full_column || profile.is_photo_visible_to_public)
            = link_to(profile.photo) do
              = image_tag(profile.photo, :style => 'width:40px; height:40px')
        %td{:style => 'width:16px'}
          - if profile.identification_card? && (full_column)
            = link_to(profile.identification_card) do
              = image_tag(profile.identification_card, :style => 'width:40px; height:40px')
        
        - if !full_column
          %td= profile.is_visible_to_public ? profile.fullname : "[Tidak ditampilkan]"
          %td= link_to(profile.school, profile_candidates_path(:school => profile.school))
          %td= profile.biodata
        -else
          %td{:style => profile.status == 'MARKED' ? 'background-color:yellow;' : ''}
            =link_to(profile.fullname, edit_profile_candidate_path(profile, :page => params[:page]))
          %td= truncate(!profile.marked_by.nil? ? profile.marked_by.email : "", :length => 20)
          
          %td= ProfileCandidate.to_alphabet(profile.organization_point)
          %td= ProfileCandidate.to_alphabet(profile.committee_point)
          %td= ProfileCandidate.to_alphabet(profile.personal_knowledge_point)
          %td= ProfileCandidate.to_alphabet(profile.document_completeness_point)
          %td= profile.cv_total_point
          
          %td= ProfileCandidate.to_alphabet(profile.reliability_point)
          %td= ProfileCandidate.to_alphabet(profile.willingness_point)
          %td= profile.motivation_total_point
          
          %td= profile.total_point
          - if profile.choose_type == 0 then
            %td Strategic Leader
          - elsif profile.choose_type == 1 then
            %td Local Leader
          - elsif profile.choose_type == 2 then
            %td Activist Based On Character
          %td= profile.special_character_comment
          %td= profile.referal
          %td= profile.application_count ? profile.application_count : ''
          - if @is_recruiter_coordinator
            %td= check_box_tag "profile_candidate_ids[]", profile.id
          
          %td= profile.school
          %td= profile.province
          %td= link_to('Download', profile.recommendation_letter)
          %td= profile.dob
          %td= profile.place_of_birth
          %td= profile.location
          %td= profile.gender == "0" ? 'Laki-laki' : 'Perempuan'
          %td= profile.religion
          %td= profile.phone
          %td= profile.hobby
          %td= profile.blood_type
          %td= profile.batch
          %td= simple_format(profile.food_except)
          %td= simple_format(profile.commit_agreement)
          %td= profile.is_committed_to_central_fim == true ? 'Iya' : 'Tidak'
          %td= profile.is_committed_to_regional_fim == true ? 'Iya' : 'Tidak'
          %td= profile.is_committed_to_own_organization == true ? 'Iya' : 'Tidak'
          %td= profile.information_from
          %td= profile.performance_type
          %td= profile.choose_type
          %td
            %div
              - if profile.choose_type == 2 && !profile.user.activist_profile.nil? then
                %br
                %b Aktivitas Pencapaian 1
                %br
                = profile.user.activist_profile.activity1_information
                %br
                %b Alasan Aktivitas Pencapaian 1
                %br
                = simple_format(profile.user.activist_profile.activity1_reason)
                %br
                %b Aktivitas Pencapaian 2
                %br
                = profile.user.activist_profile.activity2_information
                %br
                %b Alasan Aktivitas Pencapaian 2
                %br
                = simple_format(profile.user.activist_profile.activity2_reason)
                %br
                %b Aktivitas Pencapaian 3
                %br
                = profile.user.activist_profile.activity3_information
                %br
                %b Alasan Aktivitas Pencapaian 3
                %br
                = simple_format(profile.user.activist_profile.activity3_reason)
                %br
                %b Aktivitas Pencapaian 4
                %br
                = profile.user.activist_profile.activity4_information
                %br
                %b Alasan Aktivitas Pencapaian 4
                %br
                = simple_format(profile.user.activist_profile.activity4_reason)
                %br
                %b Aktivitas Pencapaian 5
                %br
                = profile.user.activist_profile.activity5_information
                %br
                %b Alasan Aktivitas Pencapaian 5
                %br
                = simple_format(profile.user.activist_profile.activity5_reason)
                %br
                %b Essai tentang action plan pasca Pelatihan FIM
                %br
                = simple_format(profile.user.activist_profile.essay_about_pasca_training)
                %br
                %b Tipografi
                %br
                  - if profile.user.activist_profile.tipografi == 0 then
                    Konseptor
                  - elsif profile.user.activist_profile.tipografi == 1 then
                    Organizer
                  - elsif profile.user.activist_profile.tipografi == 2 then
                    Eksekutor
                  - elsif profile.user.activist_profile.tipografi == 3 then
                    Kontroler
              - elsif profile.choose_type == 1 && !profile.user.local_leader_profile.nil? then
                %br
                %b Nama Komunitas
                %br
                = profile.user.local_leader_profile.organization_name
                %br
                %b Tahun Berdiri Komunitas
                %br
                = profile.user.local_leader_profile.organization_year
                %br
                %b Kategori Komunitas
                %br
                = profile.user.local_leader_profile.organization_category
                %br
                %b Kegiatan yang telah berlangsung
                %br
                = simple_format(profile.user.local_leader_profile.organization_activity)
                %br
                %b Jumlah Anggota Komunitas
                %br
                = profile.user.local_leader_profile.organization_count_member
                %br
                %b Tujuan Pendirian Komunitas
                %br
                = simple_format(profile.user.local_leader_profile.organization_goal)
                %br
                %b Pencapaian Komunitas
                %br
                = simple_format(profile.user.local_leader_profile.organization_achievement)
                %br
                %b Kontak Komunitas
                %br
                = simple_format(profile.user.local_leader_profile.organization_contact)
                %br
                %b Jaringan Komunitas
                %br
                = simple_format(profile.user.local_leader_profile.organization_network)
                %br
                %b Essai tentang calon peserta di komunitas
                %br
                = simple_format(profile.user.local_leader_profile.essay_about_organization)
              - elsif profile.choose_type == 0 && !profile.user.strategic_leader_profile.nil? then
                %br
                %b Aktivitas Pencapaian 1
                %br
                = profile.user.strategic_leader_profile.activity1_information
                %br
                %b Alasan Aktivitas Pencapaian 1
                %br
                = simple_format(profile.user.strategic_leader_profile.activity1_reason)
                %br
                %b Aktivitas Pencapaian 2
                %br
                = profile.user.strategic_leader_profile.activity2_information
                %br
                %b Alasan Aktivitas Pencapaian 2
                %br
                = simple_format(profile.user.strategic_leader_profile.activity2_reason)
                %br
                %b Aktivitas Pencapaian 3
                %br
                = profile.user.strategic_leader_profile.activity3_information
                %br
                %b Alasan Aktivitas Pencapaian 3
                %br
                = simple_format(profile.user.strategic_leader_profile.activity3_reason)
                %br
                %b Aktivitas Pencapaian 4
                %br
                = profile.user.strategic_leader_profile.activity4_information
                %br
                %b Alasan Aktivitas Pencapaian 4
                %br
                = simple_format(profile.user.strategic_leader_profile.activity4_reason)
                %br
                %b Aktivitas Pencapaian 5
                %br
                = profile.user.strategic_leader_profile.activity5_information
                %br
                %b Alasan Aktivitas Pencapaian 5
                %br
                = simple_format(profile.user.strategic_leader_profile.activity5_reason)
                %br
                %b Nama Organisasi
                %br
                = profile.user.strategic_leader_profile.organization_name
                %br
                %b Tahun Berdiri Organisasi
                %br
                = profile.user.strategic_leader_profile.organization_year
                %br
                %b Kategori Organisasi
                %br
                = profile.user.strategic_leader_profile.organization_category
                %br
                %b Kegiatan yang telah berlangsung
                %br
                = simple_format(profile.user.strategic_leader_profile.organization_activity)
                %br
                %b Jumlah Anggota Organisasi
                %br
                = profile.user.strategic_leader_profile.organization_count_member
                %br
                %b Tujuan Pendirian Organisasi
                %br
                = simple_format(profile.user.strategic_leader_profile.organization_goal)
                %br
                %b Pencapaian Organisasi
                %br
                = simple_format(profile.user.strategic_leader_profile.organization_achievement)
                %br
                %b Kontak Organisasi
                %br
                = simple_format(profile.user.strategic_leader_profile.organization_contact)
                %br
                %b Jaringan Organisasi
                %br
                = simple_format(profile.user.strategic_leader_profile.organization_network)
                %br
                %b Essai tentang "Indonesia yang lebih baik" menurut calon peserta
                %br
                = simple_format(profile.user.strategic_leader_profile.essay_about_indonesia)

                  
        %td= profile.facebook_url
        %td= profile.twitter? ? link_to(profile.twitter, "https://twitter.com/#{profile.twitter}") : "-"
        %td= (full_column || profile.is_email_displayed) ? profile.user.email : "-"