%table
  %thead
    %tr
      %th Id
      %th Nama
      %th Dinilai oleh
      %th Organisasi
      %th Kepanitiaan
      %th Wawasan
      %th Kelengkapan
      %th Total CV

      %th Reliability
      %th Willingness
      %th Total Motivasi
      
      %th Grand Total

      %th Domisili khusus
      %th Karakter khusus
      %th Asal sekolah
      %th Provinsi
      %th Surat rekomendasi
      %th Tanggal lahir
      %th Tempat lahir
      %th Alamat
      %th Gender
      %th Agama
      %th Handphone
      %th Hobi
      %th Gol darah
      %th Angkatan
      %th Pendidikan non-formal
      %th Organisasi
      %th Kepanitiaan
      %th Workshop kepemudaan
      %th Motivasi
      %th Kolaborasi yang ditawarkan
      %th Kisah yang menginspirasi
      %th Info dari
      %th Daftar ke
      %th Pertunjukan
      %th Direkomendasikan
      %th Facebook
      %th Twitter
      %th Email
  %tbody
    - profiles.each_with_index do |profile, index|
      %tr
        %td= profile.id
        %td= link_to(profile.fullname, profile.photo)
        %td= !profile.marked_by.nil? ? profile.marked_by.email : ""
          
        %td= ProfileCandidate.to_alphabet(profile.organization_point)
        %td= ProfileCandidate.to_alphabet(profile.committee_point)
        %td= ProfileCandidate.to_alphabet(profile.personal_knowledge_point)
        %td= ProfileCandidate.to_alphabet(profile.document_completeness_point)
        %td= profile.cv_total_point
        
        %td= ProfileCandidate.to_alphabet(profile.reliability_point)
        %td= ProfileCandidate.to_alphabet(profile.willingness_point)
        %td= profile.motivation_total_point
        
        %td= profile.total_point
        
        %td= profile.special_location_comment
        %td= profile.special_character_comment
        %td= profile.school
        %td= profile.province
        %td= link_to('Download', profile.recommendation_letter)
        %td= profile.dob.strftime("%d %B, %Y")
        %td= profile.place_of_birth
        %td= profile.location
        %td= profile.gender == "0" ? 'Laki-laki' : 'Perempuan'
        %td= profile.religion
        %td= "'#{profile.phone}"
        %td= profile.hobby
        %td= profile.blood_type
        %td= profile.batch
        %td= profile.non_formal_education? ? raw(profile.non_formal_education.gsub(/\r\n?/, '<br style="mso-data-placement:same-cell;"/>')) : ''
        %td= profile.organization? ? raw(profile.organization.gsub(/\r\n?/, '<br style="mso-data-placement:same-cell;"/>')) : ''
        %td= profile.committee? ? raw(profile.committee.gsub(/\r\n?/, '<br style="mso-data-placement:same-cell;"/>')) : ''
        %td= profile.workshop? ? raw(profile.workshop.gsub(/\r\n?/, '<br style="mso-data-placement:same-cell;"/>')) : ''
        %td= profile.motivation? ? raw(profile.motivation.gsub(/\r\n?/, '<br style="mso-data-placement:same-cell;"/>')) : ''
        %td= profile.collaboration? ? raw(profile.collaboration.gsub(/\r\n?/, '<br style="mso-data-placement:same-cell;"/>')) : ''
        %td= profile.inspiring_story? ? raw(profile.inspiring_story.gsub(/\r\n?/, '<br style="mso-data-placement:same-cell;"/>')) : ''
        %td= profile.information_from
        %td= profile.application_count
        %td= profile.performance_type
        %td= profile.referal
        %td= profile.facebook_url
        %td= profile.twitter? ? link_to(profile.twitter, "https://twitter.com/#{profile.twitter}") : "-"
        %td= profile.user.email