=content_for :head do
  :javascript
    $(function() {
      $('.footable').footable();
    });
  -if full_column
    :javascript
      $(function() {
        var checkbox = $('input[name="profile_candidate_ids[]"]');
        var autoChecking = false
        checkbox.change(function() {
          if (this.checked && !autoChecking) {
            autoChecking = true;
            $(this).parents('tr').first().nextAll('tr').has(':checkbox').slice(0, 4).find(':checkbox').prop('checked', true)
            autoChecking = false;
          }
        });
      });
      


%div{:style => "text-align:center"}
  = will_paginate profiles 
  
%table.footable
  %thead
    %tr
      - if !full_column
        %th{:style=>'width:3%'} No
        %th{:style=>'width:7%'} 
        %th{'data-class' => 'expand', :style => 'width:20%'} Nama
        %th{:style=>'width:30%'} Asal sekolah
        %th{:style=>'width:40%'} Biodata singkat
      -else
        %th{:style=>"width:3%"} No
        %th{:style=>"width:7%"} 
        %th{'data-class' => 'expand', :style => 'width:20%'} Nama
        
        %th{:style=>'width:10%'} Dinilai oleh
        %th{'data-hide' => 'all'} Organisasi
        %th{'data-hide' => 'all'} Kepanitiaan
        %th{'data-hide' => 'all'} Wawasan
        %th{'data-hide' => 'all'} Kelengkapan
        %th{:style=>'width:5%'} CV

        %th{'data-hide' => 'all'} Reliability
        %th{'data-hide' => 'all'} Willingness
        %th{:style=>'width:5%'} Motiv
        
        %th{:style=>'width:5%'} Total

        %th{:style=>'width:12%'} Domisili khusus
        %th{:style=>'width:12%'} Karakter khusus
        %th{:style=>'width:10%'} Direkomendasikan
        %th{:style=>'width:5%'} #
        
        - if @is_recruiter_coordinator
          %th{:style=>'width:5%'}

        %th{'data-hide' => 'all'} Sekolah
        %th{'data-hide' => 'all'} Provinsi
        %th{'data-hide' => 'all'} Surat rekomendasi
        %th{'data-hide' => 'all'} Tanggal lahir
        %th{'data-hide' => 'all'} Tempat lahir
        %th{'data-hide' => 'all'} Alamat
        %th{'data-hide' => 'all'} Gender
        %th{'data-hide' => 'all'} Agama
        %th{'data-hide' => 'all'} Handphone
        %th{'data-hide' => 'all'} Hobi
        %th{'data-hide' => 'all'} Gol darah
        %th{'data-hide' => 'all'} Angkatan
        %th{'data-hide' => 'all'} Pendidikan non-formal
        %th{'data-hide' => 'all'} Organisasi
        %th{'data-hide' => 'all'} Kepanitiaan
        %th{'data-hide' => 'all'} Workshop kepemudaan
        %th{'data-hide' => 'all'} Motivasi
        %th{'data-hide' => 'all'} Kolaborasi yang ditawarkan
        %th{'data-hide' => 'all'} Kisah yang menginspirasi
        %th{'data-hide' => 'all'} Info dari
        %th{'data-hide' => 'all'} Pertunjukan
        
      %th{'data-hide'=>'all'} Facebook
      %th{'data-hide'=>'all'} Twitter
      %th{'data-hide'=>'all'} Email
  %tbody
    - profiles.each_with_index do |profile, i|
      %tr
        %td{:style => 'width:4px'}
          = profiles.offset + i+1
        %td{:style => 'width:16px'}
          - if profile.photo? && (full_column || profile.is_photo_visible_to_public)
            = link_to(profile.photo) do
              = image_tag(profile.photo, :style => 'width:40px; height:40px')
        
        - if !full_column
          %td= profile.is_visible_to_public ? profile.fullname : "[Tidak ditampilkan]"
          %td= profile.school
          %td= profile.biodata
        -else
          %td{:style => profile.status == 'MARKED' ? 'background-color:yellow;' : ''}
            =link_to(profile.fullname, edit_profile_candidate_path(profile))
          %td{:style=>'word-wrap:break-word;'}= !profile.marked_by.nil? ? profile.marked_by.email : ""
          
          %td= ProfileCandidate.to_alphabet(profile.organization_point)
          %td= ProfileCandidate.to_alphabet(profile.committee_point)
          %td= ProfileCandidate.to_alphabet(profile.personal_knowledge_point)
          %td= ProfileCandidate.to_alphabet(profile.document_completeness_point)
          %td= profile.cv_total_point
          
          %td= ProfileCandidate.to_alphabet(profile.reliability_point)
          %td= ProfileCandidate.to_alphabet(profile.willingness_point)
          %td= profile.motivation_total_point
          
          %td= profile.total_point
          
          %td= profile.special_location_comment
          %td= profile.special_character_comment
          %td= profile.referal
          %td= profile.application_count > 0 ? profile.application_count : ''
          - if @is_recruiter_coordinator
            %td= check_box_tag "profile_candidate_ids[]", profile.id
          
          %td= profile.school
          %td= profile.province
          %td= link_to('Download', profile.recommendation_letter)
          %td= profile.dob
          %td= profile.place_of_birth
          %td= profile.location
          %td= profile.gender == "0" ? 'Laki-laki' : 'Perempuan'
          %td= profile.religion
          %td= profile.phone
          %td= profile.hobby
          %td= profile.blood_type
          %td= profile.batch
          %td= simple_format(profile.non_formal_education)
          %td= simple_format(profile.organization)
          %td= simple_format(profile.committee)
          %td= simple_format(profile.workshop)
          %td= simple_format(profile.motivation)
          %td= simple_format(profile.collaboration)
          %td= simple_format(profile.inspiring_story)
          %td= profile.information_from
          %td= profile.performance_type
        %td= profile.facebook_url
        %td= profile.twitter? ? link_to(profile.twitter, "https://twitter.com/#{profile.twitter}") : "-"
        %td= (full_column || profile.is_email_displayed) ? profile.user.email : "-"