=content_for :head do
  :javascript
    $(function() {
      $('.footable').footable();
    });
  -if full_column
    :javascript
      $(function() {
        var checkbox = $('input[name="profile_candidate_ids[]"]');
        var autoChecking = false
        checkbox.change(function() {
          if (this.checked && !autoChecking) {
            autoChecking = true;
            $(this).parents('tr').first().nextAll('tr').has(':checkbox').slice(0, 19).find(':checkbox').prop('checked', true)
            autoChecking = false;
          }
        });
      });
      


%div{:style => "text-align:center"}
  = will_paginate profiles 
  
%table.footable
  %thead
    %tr
      - if !full_column
        %th{:style=>'width:3%'} No
        %th{:style=>'width:7%'} 
        %th{'data-class' => 'expand', :style => 'width:20%'} Nama
        %th{:style=>'width:30%'} Institusi
        %th{:style=>'width:40%'} Biodata singkat
      -else
        %th{:style=>"width:3%"} No
        %th{:style=>"width:7%"} 
        %th{'data-class' => 'expand', :style => 'width:20%'} Nama
        
        %th{:style=>'width:10%'} Dinilai oleh
        %th{'data-hide' => 'all'} Organisasi
        %th{'data-hide' => 'all'} Kepanitiaan
        %th{'data-hide' => 'all'} Wawasan
        %th{'data-hide' => 'all'} Kelengkapan
        %th{:style=>'width:5%'} CV

        %th{'data-hide' => 'all'} Reliability
        %th{'data-hide' => 'all'} Willingness
        %th{:style=>'width:5%'} Motiv
        
        %th{:style=>'width:5%'} Total

        %th{:style=>'width:12%'} Pilihan Jalur
        %th{:style=>'width:12%'} Karakter khusus
        %th{:style=>'width:10%'} Rekomendasi
        %th{:style=>'width:5%'} Pernah daftar
        
        - if @is_recruiter_coordinator
          %th{:style=>'width:5%'}

        %th{'data-hide' => 'all'} Institusi
        %th{'data-hide' => 'all'} Provinsi
        %th{'data-hide' => 'all'} Surat rekomendasi
        %th{'data-hide' => 'all'} Tanggal lahir
        %th{'data-hide' => 'all'} Tempat lahir
        %th{'data-hide' => 'all'} Alamat
        %th{'data-hide' => 'all'} Gender
        %th{'data-hide' => 'all'} Agama
        %th{'data-hide' => 'all'} Handphone
        %th{'data-hide' => 'all'} Hobi
        %th{'data-hide' => 'all'} Gol darah
        %th{'data-hide' => 'all'} Angkatan
        %th{'data-hide' => 'all'} Pantangan Makanan
        %th{'data-hide' => 'all'} Commit Agreement
        %th{'data-hide' => 'all'} Komitmen ke FIM Pusat
        %th{'data-hide' => 'all'} Komitmen ke FIM Regional
        %th{'data-hide' => 'all'} Komitmen ke Organisasi Awal untuk FIM
        %th{'data-hide' => 'all'} Kolaborasi yang ditawarkan
        %th{'data-hide' => 'all'} Kisah yang menginspirasi
        %th{'data-hide' => 'all'} Info dari
        %th{'data-hide' => 'all'} Pertunjukan
        %th{'data-hide' => 'all'} Pilihan Jalur
        
      - profiles.each_with_index do |profile, i|
        - if profile.choose_type == 2
          %th{'data-hide' => 'all'} Informasi Aktivitas 1
          %th{'data-hide' => 'all'} Alasan Aktivitas 1
          %th{'data-hide' => 'all'} Informasi Aktivitas 2
          %th{'data-hide' => 'all'} Alasan Aktivitas 2
          %th{'data-hide' => 'all'} Informasi Aktivitas 3
          %th{'data-hide' => 'all'} Alasan Aktivitas 3
          %th{'data-hide' => 'all'} Informasi Aktivitas 4
          %th{'data-hide' => 'all'} Alasan Aktivitas 4
          %th{'data-hide' => 'all'} Informasi Aktivitas 5
          %th{'data-hide' => 'all'} Alasan Aktivitas 5
          %th{'data-hide' => 'all'} Essai Pasca Training
          %th{'data-hide' => 'all'} Tipografi

        
      %th{'data-hide'=>'all'} Facebook
      %th{'data-hide'=>'all'} Twitter
      %th{'data-hide'=>'all'} Email
  %tbody
    - profiles.each_with_index do |profile, i|
      %tr
        %td{:style => 'width:4px'}
          = profiles.offset + i+1
        %td{:style => 'width:16px'}
          - if profile.photo? && (full_column || profile.is_photo_visible_to_public)
            = link_to(profile.photo) do
              = image_tag(profile.photo, :style => 'width:40px; height:40px')
        
        - if !full_column
          %td= profile.is_visible_to_public ? profile.fullname : "[Tidak ditampilkan]"
          %td= link_to(profile.school, profile_candidates_path(:school => profile.school))
          %td= profile.biodata
        -else
          %td{:style => profile.status == 'MARKED' ? 'background-color:yellow;' : ''}
            =link_to(profile.fullname, edit_profile_candidate_path(profile, :page => params[:page]))
          %td= truncate(!profile.marked_by.nil? ? profile.marked_by.email : "", :length => 20)
          
          %td= ProfileCandidate.to_alphabet(profile.organization_point)
          %td= ProfileCandidate.to_alphabet(profile.committee_point)
          %td= ProfileCandidate.to_alphabet(profile.personal_knowledge_point)
          %td= ProfileCandidate.to_alphabet(profile.document_completeness_point)
          %td= profile.cv_total_point
          
          %td= ProfileCandidate.to_alphabet(profile.reliability_point)
          %td= ProfileCandidate.to_alphabet(profile.willingness_point)
          %td= profile.motivation_total_point
          
          %td= profile.total_point
          
          %td= profile.choose_type
          %td= profile.special_character_comment
          %td= profile.referal
          %td= profile.application_count ? profile.application_count : ''
          - if @is_recruiter_coordinator
            %td= check_box_tag "profile_candidate_ids[]", profile.id
          
          %td= profile.school
          %td= profile.province
          %td= link_to('Download', profile.recommendation_letter)
          %td= profile.dob
          %td= profile.place_of_birth
          %td= profile.location
          %td= profile.gender == "0" ? 'Laki-laki' : 'Perempuan'
          %td= profile.religion
          %td= profile.phone
          %td= profile.hobby
          %td= profile.blood_type
          %td= profile.batch
          %td= simple_format(profile.food_except)
          %td= simple_format(profile.commit_agreement)
          %td= profile.is_committed_to_central_fim == true ? 'Iya' : 'Tidak'
          %td= profile.is_committed_to_regional_fim == true ? 'Iya' : 'Tidak'
          %td= profile.is_committed_to_own_organization == true ? 'Iya' : 'Tidak'
          %td= simple_format(profile.collaboration)
          %td= simple_format(profile.inspiring_story)
          %td= profile.information_from
          %td= profile.performance_type
          %td= profile.choose_type

          - if profile.choose_type == 2
            %td= profile.user.activist_profile.activity1_information
            %td= simple_format(profile.user.activist_profile.activity1_reason)
            %td= profile.user.activist_profile.activity2_information
            %td= simple_format(profile.user.activist_profile.activity2_reason)
            %td= profile.user.activist_profile.activity3_information
            %td= simple_format(profile.user.activist_profile.activity3_reason)
            %td= profile.user.activist_profile.activity4_information
            %td= simple_format(profile.user.activist_profile.activity4_reason)
            %td= profile.user.activist_profile.activity5_information
            %td= simple_format(profile.user.activist_profile.activity5_reason)
            %td= simple_format(profile.user.activist_profile.essay_about_pasca_training)
            %td= profile.user.activist_profile.tipografi
            
            

        %td= profile.facebook_url
        %td= profile.twitter? ? link_to(profile.twitter, "https://twitter.com/#{profile.twitter}") : "-"
        %td= (full_column || profile.is_email_displayed) ? profile.user.email : "-"