%table
  %thead
    %tr
      %th Id
      %th Nama
      %th Dinilai oleh
      %th CV Point
      %th Esai Point
      %th Dokumen 
      %th Total Point
      %th Keterangan Khusus
      %th Hasil kepo recruiter
      %th Asal Institusi
      %th Provinsi
      %th Tanggal lahir
      %th Tempat lahir
      %th Alamat
      %th Gender
      %th Agama
      %th Handphone
      %th Hobi
      %th Gol darah
      %th Angkatan
      %th Alergi Makanan
      %th Info dari
      %th Daftar ke
      %th Pertunjukan
      %th Nama Perekomendasi
      %th Email Perekomendasi
      %th Facebook
      %th ID line
      %th Instagram
      %th Twitter
      %th Email

      %th PENCAPAIAN KE
      %th Aktivitas/ Pencapaian
      %th Waktu/Durasi
      %th Penyelenggara
      %th Cakupan Wilayah
      %th Peran/Prestasi
      %th Penanggung Jawab
      %th Kenapa ini Jadi Pencapaian Terbaik

      %th PENCAPAIAN KE
      %th Aktivitas/ Pencapaian
      %th Waktu/Durasi
      %th Penyelenggara
      %th Cakupan Wilayah
      %th Peran/Prestasi
      %th Penanggung Jawab
      %th Kenapa ini Jadi Pencapaian Terbaik

      %th PENCAPAIAN KE
      %th Aktivitas/ Pencapaian
      %th Waktu/Durasi
      %th Penyelenggara
      %th Cakupan Wilayah
      %th Peran/Prestasi
      %th Penanggung Jawab
      %th Kenapa ini Jadi Pencapaian Terbaik

      %th PENCAPAIAN KE
      %th Aktivitas/ Pencapaian
      %th Waktu/Durasi
      %th Penyelenggara
      %th Cakupan Wilayah
      %th Peran/Prestasi
      %th Penanggung Jawab
      %th Kenapa ini Jadi Pencapaian Terbaik

      %th PENCAPAIAN KE
      %th Aktivitas/ Pencapaian
      %th Waktu/Durasi
      %th Penyelenggara
      %th Cakupan Wilayah
      %th Peran/Prestasi
      %th Penanggung Jawab
      %th Kenapa ini Jadi Pencapaian Terbaik

      %th Tipe proyek
      %th Nama proyek
      %th Kenapa 
      %th Siapa yang terlibat
      %th Dimana 
      %th Apa yang ingin dilakukan  
      %th Indikator Keberhasilan
      %th Skala realisasi 
      %th Alasan proyek ini penting 
      %th Proyekk dilakukan tahun 
      %th Dampak yang dihasilkan dari proyek
      %th Kamu orang yang tepat
      %th Perencanaan dan realisasi Proyek 

      %th Definisi diri
      %th Definisi diri lainnya



     



  %tbody
    - profiles.each_with_index do |profile, index|
      %tr
        %td= profile.id
        %td= link_to(profile.fullname, profile.photo)
        %td= !profile.marked_by.nil? ? profile.marked_by.email : ""
        %td= ProfileCandidate.to_alphabet(profile.committee_point)
        %td= ProfileCandidate.to_alphabet(profile.personal_knowledge_point)
        %td= ProfileCandidate.to_alphabet(profile.document_completeness_point)
        %td= profile.total_point
        %td= profile.special_location_comment
        %td= profile.special_character_comment
        %td= profile.school
        %td= profile.province
        %td= profile.dob.strftime("%d %B, %Y")
        %td= profile.place_of_birth
        %td= profile.location
        %td= profile.gender == "0" ? 'Laki-laki' : 'Perempuan'
        %td= profile.religion
        %td= "'#{profile.phone}"
        %td= profile.hobby
        %td= profile.blood_type
        %td= profile.batch
        %td= profile.food_except
        %td= profile.information_from
        %td= profile.application_count
        %td= profile.performance_type
        %td= profile.endorser_name
        %td= profile.endorser_email
        %td= profile.facebook_url
        %td= profile.line
        %td= profile.instagram
        %td= profile.twitter? ? link_to(profile.twitter, "https://twitter.com/#{profile.twitter}") : "-"
        %td= profile.user.email


        %td= 1
        %td= profile.name_of_activity_one
        %td= profile.time_of_activity_one
        %td= profile.organizer_one
        %td= profile.scope_one
        %td= profile.achievment_one
        %td= profile.Person_in_charge_one
        %td= simple_format (profile.reason_one)

        %td=  2
        %td= profile.name_of_activity_two
        %td= profile.time_of_activity_two
        %td= profile.organizer_two
        %td= profile.scope_two
        %td= profile.achievment_two
        %td= profile.Person_in_charge_two
        %td= simple_format (profile.reason_two)


        %td= 3
        %td= profile.name_of_activity_three
        %td= profile.time_of_activity_three
        %td= profile.organizer_three
        %td= profile.scope_three
        %td= profile.achievment_three
        %td= profile.Person_in_charge_three
        %td= simple_format (profile.reason_three)


        %td= 4
        %td= profile.name_of_activity_four
        %td= profile.time_of_activity_four
        %td= profile.organizer_four
        %td= profile.scope_four
        %td= profile.achievment_four
        %td= profile.Person_in_charge_four
        %td= simple_format (profile.reason_four)


        %td= 5
        %td= profile.name_of_activity_five
        %td= profile.time_of_activity_five
        %td= profile.organizer_five
        %td= profile.scope_five
        %td= profile.achievment_five
        %td= profile.Person_in_charge_five
        %td= simple_format (profile.reason_five)


        %td= profile.project_type
        %td= profile.project_name
        %td= profile.why
        %td= profile.who
        %td= profile.where
        %td= profile.what
        %td= profile.indicator
        %td= profile.scale
        %td= profile.strength
        %td= profile.this_year
        %td= profile.impact
        %td= profile.right_person
        %td= profile.plan_implementation

        
        %td= profile.person_type
        %td= profile.other_category



        