=content_for :head do
  :javascript
    $(function() {
      $('.footable').footable();
    });

%h3 Penilaian calon peserta FIM 14
.span8
  %table.footable
    %thead
      %tr
        %th{:style=>"width:10%"} 
        %th{'data-class' => 'expand', :style => 'width:20%'} Nama
        
        %th{:style=>'width:10%'} Dinilai oleh
        %th{'data-hide' => 'all'} Organisasi
        %th{'data-hide' => 'all'} Kepanitiaan
        %th{'data-hide' => 'all'} Wawasan
        %th{'data-hide' => 'all'} Kelengkapan
        %th{:style=>'width:5%'} CV

        %th{'data-hide' => 'all'} Reliability
        %th{'data-hide' => 'all'} Willingness
        %th{:style=>'width:5%'} Motiv
        
        %th{:style=>'width:5%'} Total

        %th{:style=>'width:15%'} Domisili khusus
        %th{:style=>'width:15%'} Karakter khusus

        %th{'data-hide' => 'all'} Sekolah
        %th{'data-hide' => 'all'} Provinsi
        %th{'data-hide' => 'all'} Surat rekomendasi
        %th{'data-hide' => 'all'} Biodata singkat
        %th{'data-hide' => 'all'} Tanggal lahir
        %th{'data-hide' => 'all'} Tempat lahir
        %th{'data-hide' => 'all'} Alamat
        %th{'data-hide' => 'all'} Gender
        %th{'data-hide' => 'all'} Agama
        %th{'data-hide' => 'all'} Handphone
        %th{'data-hide' => 'all'} Hobi
        %th{'data-hide' => 'all'} Gol darah
        %th{'data-hide' => 'all'} Angkatan
        %th{'data-hide' => 'all'} Pendidikan non-formal
        %th{'data-hide' => 'all'} Organisasi
        %th{'data-hide' => 'all'} Kepanitiaan
        %th{'data-hide' => 'all'} Workshop kepemudaan
        %th{'data-hide' => 'all'} Motivasi
        %th{'data-hide' => 'all'} Kolaborasi yang ditawarkan
        %th{'data-hide' => 'all'} Kisah yang menginspirasi
        %th{'data-hide' => 'all'} Info dari
        %th{'data-hide' => 'all'} Daftar ke
        %th{'data-hide' => 'all'} Pertunjukan
        %th{'data-hide' => 'all'} Direkomendasikan
          
        %th{'data-hide'=>'all'} Facebook
        %th{'data-hide'=>'all'} Twitter
        %th{'data-hide'=>'all'} Email
    %tbody
      %tr
        %td{:style => 'width:16px'}
          - if @profile.photo?
            = link_to(@profile.photo) do
              = image_tag(@profile.photo, :style => 'width:40px; height:40px')
      
        %td= @profile.fullname
        %td= !@profile.marked_by.nil? ? @profile.marked_by.email : ""
        
        %td= ProfileCandidate.to_alphabet(@profile.organization_point)
        %td= ProfileCandidate.to_alphabet(@profile.committee_point)
        %td= ProfileCandidate.to_alphabet(@profile.personal_knowledge_point)
        %td= ProfileCandidate.to_alphabet(@profile.document_completeness_point)
        %td= @profile.cv_total_point
        
        %td= ProfileCandidate.to_alphabet(@profile.reliability_point)
        %td= ProfileCandidate.to_alphabet(@profile.willingness_point)
        %td= @profile.motivation_total_point
        
        %td= @profile.total_point
        
        %td= @profile.special_location_comment
        %td= @profile.special_character_comment
        
        %td= @profile.school
        %td= @profile.province
        %td= link_to('Download', @profile.recommendation_letter)
        %td= @profile.biodata
        %td= @profile.dob
        %td= @profile.place_of_birth
        %td= @profile.location
        %td= @profile.gender == "0" ? 'Laki-laki' : 'Perempuan'
        %td= @profile.religion
        %td= @profile.phone
        %td= @profile.hobby
        %td= @profile.blood_type
        %td= @profile.batch
        %td= simple_format(@profile.non_formal_education)
        %td= simple_format(@profile.organization)
        %td= simple_format(@profile.committee)
        %td= simple_format(@profile.workshop)
        %td= simple_format(@profile.motivation)
        %td= simple_format(@profile.collaboration)
        %td= simple_format(@profile.inspiring_story)
        %td= @profile.information_from
        %td= @profile.application_count
        %td= @profile.performance_type
        %td= @profile.referal
        %td= @profile.facebook_url
        %td= @profile.twitter? ? link_to(@profile.twitter, "https://twitter.com/#{@profile.twitter}") : "-"
        %td= @profile.user.email
  
  .well
    = simple_form_for(@profile, :url => update_point_profile_candidates_path, :html => {:id => 'profile_form', :class => 'form-horizontal'}) do |f|
      = f.error_notification
      = display_base_errors @profile

      .form-inputs
        = f.input :id, :as => :hidden
        = f.input :organization_point, :label => "Pengalaman organisasi", :collection => [["A", 4], ["B", 3], ["C", 2], ["D", 1], ["E", 0]], :include_blank => false
        = f.input :committee_point, :label => "Pengalaman kepanitiaan", :collection => [["A", 4], ["B", 3], ["C", 2], ["D", 1], ["E", 0]], :include_blank => false
        = f.input :personal_knowledge_point, :label => "Keterampilan dan wawasan pribadi", :collection => [["A", 4], ["B", 3], ["C", 2], ["D", 1], ["E", 0]], :include_blank => false
        = f.input :document_completeness_point, :label => "Kelengkapan berkas", :collection => [["A", 4], ["B", 3], ["C", 2], ["D", 1], ["E", 0]], :include_blank => false
        = f.input :reliability_point, :label => "Reliability", :collection => [["A", 4], ["B", 3], ["C", 2], ["D", 1], ["E", 0]], :include_blank => false
        = f.input :willingness_point, :label => "Willingness", :collection => [["A", 4], ["B", 3], ["C", 2], ["D", 1], ["E", 0]], :include_blank => false
        = f.input :special_location_comment, :label => "Domisili khusus"
        = f.input :special_character_comment, :label => "Karakteristik khusus"
      .form-actions
        = f.submit "Simpan", :class => "btn btn-primary"