-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}
  %script{type: "text/javascript", src: 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js'}

  :javascript
    #{map_loader(@latitudes, @longitudes)}
    
    function updatePrivacySettings(isInitialLoading) {
      if (!$("#profile_candidate_is_visible_to_public").is(':checked')) {
        $(".photo_visibility_row").hide();
        if (!isInitialLoading) {
          $("#profile_candidate_is_photo_visible_to_public").attr('checked', false);
          $("#profile_candidate_is_email_displayed").attr('checked', false);
        }    
      } else {
        $(".photo_visibility_row").show();
        if (!isInitialLoading) {
          $("#profile_candidate_is_photo_visible_to_public").attr('checked', false);
          $("#profile_candidate_is_email_displayed").attr('checked', false);
        }
      }
    }
    
    $(document).ready(function() {
      $("#profile_candidate_is_visible_to_public").change(function() {
        updatePrivacySettings(false);
      });
      
      updatePrivacySettings(true);
    });
    
.row
  -if user_signed_in? && !@profile.nil?
    .span3
      %h4 Profil Anda
      %p
        Ayo, manfaatkan kesempatan ini untuk berkoneksi dengan teman-teman hebat dari penjuru Indonesia!
        
      = simple_form_for(@profile, :url => update_biodata_profile_candidates_path, :method => :put, :html => {:id => 'profile_form', :class => 'form-vertical'}) do |f|
        = f.error_notification
    
        .form-inputs
          = f.input :biodata, :label => "Biodata singkat (maks 160 karakter)", :input_html => {:rows => 6}, :placeholder => 'Contoh: Pendiri Yayasan X, hobi traveling, bercita-cita keliling Indonesia, minat di pemberdayaan desa, @anakUI.com'
          = f.input :facebook, :label => "Alamat Facebook", :placeholder => 'http://www.facebook.com/andi.suroso'
          = f.input :twitter, :label => "Alamat Twitter", :placeholder => '@presidenRI'
          %table
            %tr
              %td
                = f.input :is_visible_to_public, :label => false, :as => :boolean
              %td
                Tampilan nama saya di daftar calon peserta
            %tr.photo_visibility_row
              %td
                = f.input :is_photo_visible_to_public, :label => false, :as => :boolean
              %td
                Tampilkan foto saya
            %tr.photo_visibility_row
              %td
                = f.input :is_email_displayed, :label => false
              %td
                Tampilan email saya
          = f.submit "Update", :class => "btn btn-primary", :style => 'margin-top:10px'
          
    .span8
      #map_canvas{:style => "width:800px; height:300px"}
  -else
    .span12
      #map_canvas{:style => "width:100%; height:400px"}  
  -if user_signed_in? && !@profile.nil?
    .span9
      %h3 Daftar calon peserta FIM 14
      %small *Nama, foto, dan email bisa di-hide
      = render :partial => 'profile_candidates/index', :locals => {:profiles => @profiles, :full_column => false}
  -else
    .span12
      %h3 Daftar calon peserta FIM 14
      %small *Nama, foto, dan email bisa di-hide
      = form_tag profile_candidates_path, :method => :get do
        = search_field_tag(:fullname, '', :placeholder => 'Masukkan nama di sini')
        = submit_tag("Cari", :class => 'btn btn-primary')
        
      = render :partial => 'profile_candidates/index', :locals => {:profiles => @profiles, :full_column => false}