.row
  .span5
    %h3 Cek status pendaftaran saya
    = form_tag progress_status_profile_candidates_path, :method => :get do
      = search_field_tag(:email, params[:email], :placeholder => 'Masukkan email Anda di sini')
      %br
      = submit_tag("Cek", :class => 'btn btn-primary')
    -if params[:email]
      %table.table.table-condensed.table-striped
        %tbody
          %tr 
            %td Sudah mengisi biodata?
            %td= @is_biodata_filled ? "Ya" : "Belum" 
          %tr
            %td Sudah mengunggah foto?
            %td= @is_photo_uploaded ? "Ya" : "Belum"
          %tr
            %td Sudah mengunggah surat rekomendasi?
            %td= @is_recommendation_letter_uploaded ? "Ya" : "Belum"
          %tr
            %td Sudah mengkonfirmasi pengumpulan?
            %td= @is_submitted ? "Ya" : "Belum"
