%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th{:style=>'width:10%'}
        Info
      %th{:style=>'width:90%'}
        Detail 
  %tbody
    %tr
      %td Nama lengkap
      %td
        = @profile.fullname
        %br
        = link_to(@profile.photo_url.to_s) do
          = image_tag(@profile.photo_url.to_s, :style => 'width:100px; margin-right:10px', :class =>'img-polaroid')
        
    %tr
      %td Tanggal lahir
      %td= @profile.dob
    %tr
      %td Tempat lahir
      %td= @profile.place_of_birth
    %tr
      %td Alamat
      %td= @profile.location
    %tr
      %td Gender
      %td= @profile.gender
    %tr
      %td Agama
      %td= @profile.religion
    %tr
      %td Handphone
      %td= @profile.phone
    %tr
      %td Hobi
      %td= @profile.hobby
    %tr
      %td Golongan darah
      %td= @profile.blood_type
    %tr
      %td Sekolah
      %td= @profile.school
    %tr
      %td Angkatan
      %td= @profile.batch
    %tr
      %td Pendidikan non-formal
      %td= @profile.non_formal_education
    %tr
      %td Pengalaman organisasi
      %td= @profile.organization
    %tr
      %td Pengalaman kepanitiaan
      %td= @profile.committee
    %tr
      %td Pelatihan workshop kepemudaan
      %td= @profile.workshop
    %tr
      %td Motivasi mengikuti FIM
      %td= @profile.motivation
    %tr
      %td Sumber informasi FIM
      %td= @profile.information_from
    %tr
      %td Sudah berapa kali mendaftar FIM
      %td= @profile.application_count
    %tr
      %td Ekspresi seni budaya
      %td= @profile.performance_type
    %tr
      %td Alumni FIM yang merekomendasikan
      %td= @profile.referal