= render :partial => 'step_navigator', :locals => {:step => 1}

%h3 Selamat datang calon peserta FIM 14!
%p
  Sebelum Anda mengisi informasi pendaftaran, silakan membuat akun terlebih dahulu
%p
  Dokumen yang perlu Anda siapkan:
  %ul
    %li
      Foto yang menampilkan wajah dengan jelas.
      %br
      Ukuran maximum foto: 
      %b 300KB
      dan tipe file yang dibolehkan adalah 
      %b .png, .jpg, .bmp
    %li
      Surat rekomendasi dari organisasi/institusi yang pernah/sedang Anda ikuti.
      %br
      Ukuran maksimum file: 
      %b 2 MB.
      Surat rekomendasi harus mencantumkan:
      %ul
        %li
          Kop surat organisasi/institusi
        %li
          Identitas lengkap diri Anda (misal: nama, NIM/NPM, jurusan)
        %li
          Nama jabatan dan periode menjabatnya
        %li   
          Pernyataan dan 
          %b tanda tangan 
          dari ketua organisasi/institusi bahwa Anda pernah/sedang aktif di organisasi/institusi tersebut
        %li 
          Alasan merekomendasikan Anda untuk mengikuti pelatihan Leadership & Character Building FIM 14.
  %p
    Jika surat rekomendasi ada lebih dari satu, mohon diarsipkan menjadi satu (format ZIP atau RAR) sebelum dikirimkan.
    %br
    Anda bisa menggunakan program seperti 
    = link_to '7 Zip', 'http://www.7-zip.org/'
    , 
    = link_to 'WinRAR', 'http://www.rarlab.com/'
    ,
    = link_to 'WinZip', 'http://www.winzip.com'
    , atau fitur bawaan
    = link_to 'Windows', 'http://www.pcworld.com/article/228109/Files.html'
  

= render :partial => 'devise/shared/register_or_sign_in', :locals => {:user => @user}
