= render :partial => 'layouts/step_navigator', :locals => {:step => 5}
= render :partial => 'layouts/announcement_popup', :locals => {:is_announcement_displayed => @is_announcement_displayed}

%h2 Pendaftaran FIM
.span8
  .well
    = form_tag(:submit_confirmation_profile_candidates, :via => :post) do
      .form-inputs
        = check_box_tag(:confirmation)
        Dengan ini saya menyatakan bahwa informasi yang saya masukan benar adanya. Data yang sudah dikumpulkan akan segera kami proses. Tidak ada isian yang bisa diubah lagi setelah ini.
        
      .form-actions
        = link_to "< Back", step4_profile_candidates_path, :class => 'btn btn-danger'
        = submit_tag('Kumpulkan', :class => 'btn btn-primary')
