= render :partial => 'step_navigator', :locals => {:step => 3}
= render :partial => 'announcement_popup', :locals => {:is_announcement_displayed => @is_announcement_displayed}
    
%h2 Pendaftaran FIM 14
%p 
  Unggah foto Anda. Foto harus menampilkan wajah dengan jelas.
  %br
  Ukuran maximum foto: 
  %b 300KB
  dan tipe file yang dibolehkan adalah 
  %b .png, .jpg, .bmp

%p
  Jika foto Anda lebih besar dari 300 KB, Anda bisa mengecilkannya melalui website
  = link_to 'www.picresize.com', 'http://www.picresize.com/'
  atau menggunakan program
  = link_to 'FastStone resizer', 'http://www.faststone.org/FSResizerDownload.htm'
= render 'form_photo'
