%ul.nav.nav-pills
  %li.active
    %a{:href => "#"} 1) Registrasi
  %li
    %a{:href => "#"} 2) Pengisian Formulir

.row
  .span3
    %h4 Registrasi akun baru
    .well
      = simple_form_for(@user, :url => registration_path(@user), :html => {:class => 'form-vertical' }) do |f|
        = f.error_notification
        = display_base_errors @user
        = f.input :email, :required => true
        = f.input :password, :required => true
        = f.input :password_confirmation, :required => true
        = f.button :submit, 'Sign up', :class => 'btn-primary'
  .span2
    %p{:style => 'margin-top:80px; text-align:center'}
      %b{:style => "font-size:20px"}
        #{"- atau -"}
  .span3
    %h4 Sudah punya akun?
    .well
      = simple_form_for(@user, :url => session_path(@user), :html => {:class => 'form-vertical' }) do |f|
        = f.input :email, :autofocus => true
        = f.input :password
        = f.button :submit, "Sign in", :class => 'btn-primary'
