= render :partial => 'step_navigator', :locals => {:step => 4}

%h2 Pendaftaran FIM 14
%p 
  Unggah surat rekomendasi dari institusi/organisasi yang Anda ikuti. Ukuran maksimum file: 
  %b 400KB
%p
  Surat rekomendasi harus mencantumkan:
  %ul
    %li
      Identitas lengkap diri Anda (misal: nama, NIM/NPM, jurusan)
    %li   
      Pernyataan dan 
      %b tanda tangan 
      dari ketua organisasi/institusi bahwa Anda pernah/sedang aktif di organisasi/institusi tersebut
    %li
      Nama jabatan dan periode menjabatnya
    %li 
      Alasan merekomendasikan Anda untuk mengikuti FIM 14
%p
  Jika surat rekomendasi ada lebih dari satu, mohon diarsipkan menjadi satu (format ZIP atau RAR) sebelum dikirimkan
  %br
  Anda bisa menggunakan program seperti 
  = link_to '7 Zip', 'http://www.7-zip.org/'
  , 
  = link_to 'WinRAR', 'http://www.rarlab.com/'
  ,
  = link_to 'WinZip', 'http://www.winzip.com'
  , atau fitur bawaan
  = link_to 'Windows', 'http://www.pcworld.com/article/228109/Files.html'
      
= render 'form_recommendation_letter'
