= render :partial => 'layouts/step_navigator', :locals => {:step => 4}
= render :partial => 'layouts/announcement_popup', :locals => {:is_announcement_displayed => @is_announcement_displayed}

%h2 Pendaftaran FIM
%p 
  scan/foto/softcopy surat rekomendasi dari organisasi/institusi yang pernah/sedang Anda ikuti.
  %br
  Format file bisa .pdf, .doc, .png, atau lainnya yang penting bisa terbaca dengan mudah.
  %br
  Ukuran maksimum file: 
  %b 2 MB
%p
  %b Format surat rekomendasi harus sesuai dengan template yang sudah anda anda download di step sebelum nya
%p
  Jika scan/foto/softcopy surat rekomendasi lebih dari satu, mohon diarsipkan menjadi satu (format ZIP atau RAR) sebelum dikirimkan
  %br
  Anda bisa menggunakan program seperti 
  = link_to '7 Zip', 'http://www.7-zip.org/'
  , 
  = link_to 'WinRAR', 'http://www.rarlab.com/'
  ,
  = link_to 'WinZip', 'http://www.winzip.com'
  , atau fitur bawaan
  = link_to 'Windows', 'http://www.pcworld.com/article/228109/Files.html'

= render 'form_recommendation_letter'
