-content_for :head do
  %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}

.span8
  .well
    = simple_form_for(@strategic_leader_profile, :html => {:class => 'form-horizontal'}) do |f|
      = f.error_notification
      = display_base_errors @strategic_leader_profile

      .form-inputs
        %h4 Aktivitas dan Pencapaian
        %blockquote
          %div
            Sebutkan dan jelaskan 5 aktivitas dan/atau pencapaian terbaik yang telah Anda raih. Aktivitas dan pencapaian disini diartikan dalam arti yang luas, bisa jadi berupa pengalaman organisasi, pengalaman kepanitiaan, pengalaman mendirikan organisasi, menjuarai kompetisi, partisipasi dalam suatu konferensi, penulisan ilmiah, dll.
        = f.input :activity1_information, :label => 'Aktivitas/Pencapaian 1 dengan <br/><b>Format</b> [Nama Aktivitas/Pencapaia][Waktu/Durasi][Penyelenggara][Scope/cakupan wilayah][Peran/Prestasi][No Telepon Ketua/ penanggung jawab/ yang bisa dihubungi untuk proses validasi]', :input_html => {:rows => 11, :class => "span5"}
        = f.input :activity1_reason, :label => 'Alasan mengapa Aktivitas/Pencapaian 1 ini merupakan yang terbaik bagi Anda (maks 350 kata)', :input_html => {:rows => 8, :class => "span5"}
        = f.input :activity2_information, :label => 'Aktivitas/Pencapaian 2 dengan <br/><b>Format</b> [Nama Aktivitas/Pencapaia][Waktu/Durasi][Penyelenggara][Scope/cakupan wilayah][Peran/Prestasi][No Telepon Ketua/ penanggung jawab/ yang bisa dihubungi untuk proses validasi]', :input_html => {:rows => 11, :class => "span5"}
        = f.input :activity2_reason, :label => 'Alasan mengapa Aktivitas/Pencapaian 2 ini merupakan yang terbaik bagi Anda (maks 350 kata)', :input_html => {:rows => 8, :class => "span5"}
        = f.input :activity3_information, :label => 'Aktivitas/Pencapaian 3 dengan <br/><b>Format</b> [Nama Aktivitas/Pencapaia][Waktu/Durasi][Penyelenggara][Scope/cakupan wilayah][Peran/Prestasi][No Telepon Ketua/ penanggung jawab/ yang bisa dihubungi untuk proses validasi]', :input_html => {:rows => 11, :class => "span5"}
        = f.input :activity3_reason, :label => 'Alasan mengapa Aktivitas/Pencapaian 3 ini merupakan yang terbaik bagi Anda (maks 350 kata)', :input_html => {:rows => 8, :class => "span5"}
        = f.input :activity4_information, :label => 'Aktivitas/Pencapaian 4 dengan <br/><b>Format</b> [Nama Aktivitas/Pencapaia][Waktu/Durasi][Penyelenggara][Scope/cakupan wilayah][Peran/Prestasi][No Telepon Ketua/ penanggung jawab/ yang bisa dihubungi untuk proses validasi]', :input_html => {:rows => 11, :class => "span5"}
        = f.input :activity4_reason, :label => 'Alasan mengapa Aktivitas/Pencapaian 4 ini merupakan yang terbaik bagi Anda (maks 350 kata)', :input_html => {:rows => 8, :class => "span5"}
        = f.input :activity5_information, :label => 'Aktivitas/Pencapaian 5 dengan <br/><b>Format</b> [Nama Aktivitas/Pencapaia][Waktu/Durasi][Penyelenggara][Scope/cakupan wilayah][Peran/Prestasi][No Telepon Ketua/ penanggung jawab/ yang bisa dihubungi untuk proses validasi]', :input_html => {:rows => 11, :class => "span5"}
        = f.input :activity5_reason, :label => 'Alasan mengapa Aktivitas/Pencapaian 5 ini merupakan yang terbaik bagi Anda (maks 350 kata)', :input_html => {:rows => 8, :class => "span5"}
        %h4 Data Organisasi
        %blockquote
          %div
            Isilah dengan data organisasi anda
        = f.input :organization_name, :label => "Nama Organisasi"
        = f.input :organization_year, :label => "Tahun Berdiri", :collection => (1900..2014)
        = f.input :organization_category, :label => "Bidang Organisasi (Contoh : Politik, Sosial, dll)"
        = f.input :organization_activity, :label => "Kegiatan yang telah berlangsung" , :input_html => {:rows => 5, :class => "span4"}
        = f.input :organization_count_member, :label => "Jumlah Anggota"
        = f.input :organization_goal, :label => "Tujuan Pendirian Organisasi" , :input_html => {:rows => 5, :class => "span4"}
        = f.input :organization_achievement, :label => "Prestasi Organisasi (jika ada)" , :input_html => {:rows => 5, :class => "span4"}
        = f.input :organization_contact, :label => "Kontak Organisasi <b>FORMAT</b> [Web][Facebook][Twitter][Alamat][Telp Narahubung]" , :input_html => {:rows => 5, :class => "span4"}
        = f.input :organization_network, :label => "Jaringan Organisasi (Sebutkan organisasi lain/badan pemerintahan yang pernah bekerja sama dengan organisasi anda)" , :input_html => {:rows => 5, :class => "span4"}
        %h4 Essai tentang “Bung Hatta”
        %blockquote
          %div
            Ceritakan bagian perjalanan hidup Bung Hatta yang menunjukkan salah satu dari tujuh pilar karakter FIM yang juga cenderung dimilki oleh Anda. Sampaikan pengalaman Anda terkait pilar tersebut.
            Sertakan referensi bacaan (buku/website) yang digunakan dalam esai
        = f.input :essay_about_indonesia, :label => "Essai (Maksimal 1000 kata", :input_html => {:rows => 8, :class => "span5"}
        %h4 Download Template Surat Rekomendasi
        %blockquote
          %div
            Gunakan Template Surat ini untuk diisi oleh perekomendasi anda, lalu anda anda upload documen tersebut (sudah di isi, di tanda tangani, dan discan) pada step berikutnya, Template bisa di download 
            %a{href: "https://docs.google.com/uc?authuser=0&id=0ByAd-hBNx_8kTTd5bjRsVEdzNmc&export=download"}
              disini

      .form-actions
        = f.submit "Next >", :class => "btn btn-primary"
