= link_to "Portal FIM", root_path, :class => 'brand'
%ul.nav
  %li
    = link_to "Pendaftaran FIM 14", step1_profile_candidates_path
  %li
    = link_to "Tentang FIM 14", 'http://forumindonesiamuda.org/fim-14-character-building-leadership-lifeskill-training/'
    
  - if user_signed_in?
    - if current_user.has_role? :admin
      %li
        =link_to('Admin', users_path)
      %li
        =link_to('Statistics', statistics_index_path)
    - if current_user.has_role?(:admin) || current_user.has_role?(:recruiter)
      %li
        =link_to('Recruiter', recruiter_index_path)
  
%ul.nav.pull-right
  - if user_signed_in?
    %li{:style => 'margin-top:10px; margin-bottom:-10px; margin-right:10px'}
      = current_user.email
    %li
      = button_to 'Logout', destroy_user_session_path, :method =>'delete', :class => 'btn btn-danger', :style => 'margin-top:10px; margin-bottom:-10px;'
  - else
    = form_for @new_user, :url => new_user_session_path, :html => {:class => 'form-inline'} do |f|
      = f.text_field :email, :autofocus => true, :class => 'input-small', :placeholder => "Email", :style => 'margin-top:10px; margin-bottom:-10px; width:150px'
      = f.password_field :password, :class => 'input-small', :placeholder => "Password", :style => 'margin-top:10px; margin-bottom:-10px; width:150px'
      = f.submit "Sign in", :class => 'btn btn-primary', :style => 'margin-top:10px; margin-bottom:-10px;'