!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{rel: "shortcut icon", href: "/favicon.ico"}
    %title= content_for?(:title) ? yield(:title) : "Pendaftaran Forum Indonesia Muda 15"
    %meta{:content => content_for?(:description) ? yield(:description) : "Portal resmi Forum Indonesia Muda. FIM 15 akan diselenggarakan pada tanggal 27 Oktober - 3 November 2013. Masa pendaftaran antara tanggal 4 September - 2 Oktober 2013. Informasi lebih lanjut dapat dilihat di forumindonesiamuda.org.", :name => "description"}
    %link{rel: 'image_src', href: 'http://portal.forumindonesiamuda.org/logo.png'}
    
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38929357-1']);
      _gaq.push(['_setDomainName', 'forumindonesiamuda.org']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    :javascript
      var BrowserDetect = {
        init: function () {
          this.browser = this.searchString(this.dataBrowser) || "An unknown browser";
          this.version = this.searchVersion(navigator.userAgent)
            || this.searchVersion(navigator.appVersion)
            || "an unknown version";
          this.OS = this.searchString(this.dataOS) || "an unknown OS";
        },
        searchString: function (data) {
          for (var i=0;i<data.length;i++)	{
            var dataString = data[i].string;
            var dataProp = data[i].prop;
            this.versionSearchString = data[i].versionSearch || data[i].identity;
            if (dataString) {
              if (dataString.indexOf(data[i].subString) != -1)
                return data[i].identity;
            }
            else if (dataProp)
              return data[i].identity;
          }
        },
        searchVersion: function (dataString) {
          var index = dataString.indexOf(this.versionSearchString);
          if (index == -1) return;
          return parseFloat(dataString.substring(index+this.versionSearchString.length+1));
        },
        dataBrowser: [
          {
            string: navigator.userAgent,
            subString: "Chrome",
            identity: "Chrome"
          },
          { 	string: navigator.userAgent,
            subString: "OmniWeb",
            versionSearch: "OmniWeb/",
            identity: "OmniWeb"
          },
          {
            string: navigator.vendor,
            subString: "Apple",
            identity: "Safari",
            versionSearch: "Version"
          },
          {
            prop: window.opera,
            identity: "Opera",
            versionSearch: "Version"
          },
          {
            string: navigator.vendor,
            subString: "iCab",
            identity: "iCab"
          },
          {
            string: navigator.vendor,
            subString: "KDE",
            identity: "Konqueror"
          },
          {
            string: navigator.userAgent,
            subString: "Firefox",
            identity: "Firefox"
          },
          {
            string: navigator.vendor,
            subString: "Camino",
            identity: "Camino"
          },
          {		// for newer Netscapes (6+)
            string: navigator.userAgent,
            subString: "Netscape",
            identity: "Netscape"
          },
          {
            string: navigator.userAgent,
            subString: "MSIE",
            identity: "Explorer",
            versionSearch: "MSIE"
          },
          {
            string: navigator.userAgent,
            subString: "Gecko",
            identity: "Mozilla",
            versionSearch: "rv"
          },
          { 		// for older Netscapes (4-)
            string: navigator.userAgent,
            subString: "Mozilla",
            identity: "Netscape",
            versionSearch: "Mozilla"
          }
        ],
        dataOS : [
          {
            string: navigator.platform,
            subString: "Win",
            identity: "Windows"
          },
          {
            string: navigator.platform,
            subString: "Mac",
            identity: "Mac"
          },
          {
               string: navigator.userAgent,
               subString: "iPhone",
               identity: "iPhone/iPod"
            },
          {
            string: navigator.platform,
            subString: "Linux",
            identity: "Linux"
          }
        ]

      };
      BrowserDetect.init();

      var browserOk = false;
      if (BrowserDetect.browser == 'Explorer' && BrowserDetect.version >= 9) {
        browserOk = true;
      } else if (BrowserDetect.browser == 'Firefox' && BrowserDetect.version >= 7) {
        browserOk = true;
      } else if (BrowserDetect.browser == 'Chrome' && BrowserDetect.version >= 9) {
        browserOk = true;
      } else if (BrowserDetect.browser == 'Safari') {
        browserOk = true;
      }
      if (!browserOk) {
        alert("[PERHATIAN]\n\nAnda memakai browser yang terlalu tua. Anda akan mendapati beberapa tombol TIDAK bisa ditekan, sehingga TIDAK memungkinkan untuk registrasi.\n\nAgar BISA registrasi FIM, mohon upgrade ke Internet Explorer 9+, Chrome 9+, Safari, atau Firefox 7+. Jika Anda memiliki salah satu dari Browser di atas, silakan buka kembali halaman ini dengannya hingga Anda tidak melihat peringatan ini lagi.");
      }
          
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main", :style => 'margin-top:60px'}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
            %div{:style=>'text-align:center; margin-top:20px; font-size:small; margin-bottom:20px'}
              &copy; 2013 Forum Indonesia Muda
      / ! end of .container
    / ! end of #main

    #ask.label.label-warning{style:"position: fixed; bottom:0; right:0; width: 230px; height: 15px; font-size:16px; padding:10px"}
      %a{href: 'http://diskusi.forumindonesiamuda.org', style: 'color:white'}
        ? | Forum tanya jawab 
        .label.label-success
          (New!)