!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %link{rel: "shortcut icon", href: "/favicon.ico"}
    %title= content_for?(:title) ? yield(:title) : "Pendaftaran Forum Indonesia Muda 14"
    %meta{:content => content_for?(:description) ? yield(:description) : "Portal resmi Forum Indonesia Muda. FIM 14 akan diselenggarakan pada tanggal 2 - 5 Mei 2013. Masa pendaftaran antara tanggal 4 Maret - 4 April 2013. Informasi lebih lanjut dapat dilihat di forumindonesiamuda.org.", :name => "description"}
    %link{rel: 'image_src', href: 'http://portal.forumindonesiamuda.org/logo.png'}
    
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
    :javascript
      <!--Start of Zopim Live Chat Script-->
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set._.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');$.src='//cdn.zopim.com/?156F3L2niBugZMoHP76XxdCqfQkOPLSR';z.t=+new Date;$.type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
      <!--End of Zopim Live Chat Script-->
    
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38929357-1']);
      _gaq.push(['_setDomainName', 'forumindonesiamuda.org']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    :javascript
      var BrowserDetect = {
        init: function () {
          this.browser = this.searchString(this.dataBrowser) || "An unknown browser";
          this.version = this.searchVersion(navigator.userAgent)
            || this.searchVersion(navigator.appVersion)
            || "an unknown version";
          this.OS = this.searchString(this.dataOS) || "an unknown OS";
        },
        searchString: function (data) {
          for (var i=0;i<data.length;i++)	{
            var dataString = data[i].string;
            var dataProp = data[i].prop;
            this.versionSearchString = data[i].versionSearch || data[i].identity;
            if (dataString) {
              if (dataString.indexOf(data[i].subString) != -1)
                return data[i].identity;
            }
            else if (dataProp)
              return data[i].identity;
          }
        },
        searchVersion: function (dataString) {
          var index = dataString.indexOf(this.versionSearchString);
          if (index == -1) return;
          return parseFloat(dataString.substring(index+this.versionSearchString.length+1));
        },
        dataBrowser: [
          {
            string: navigator.userAgent,
            subString: "Chrome",
            identity: "Chrome"
          },
          { 	string: navigator.userAgent,
            subString: "OmniWeb",
            versionSearch: "OmniWeb/",
            identity: "OmniWeb"
          },
          {
            string: navigator.vendor,
            subString: "Apple",
            identity: "Safari",
            versionSearch: "Version"
          },
          {
            prop: window.opera,
            identity: "Opera",
            versionSearch: "Version"
          },
          {
            string: navigator.vendor,
            subString: "iCab",
            identity: "iCab"
          },
          {
            string: navigator.vendor,
            subString: "KDE",
            identity: "Konqueror"
          },
          {
            string: navigator.userAgent,
            subString: "Firefox",
            identity: "Firefox"
          },
          {
            string: navigator.vendor,
            subString: "Camino",
            identity: "Camino"
          },
          {		// for newer Netscapes (6+)
            string: navigator.userAgent,
            subString: "Netscape",
            identity: "Netscape"
          },
          {
            string: navigator.userAgent,
            subString: "MSIE",
            identity: "Explorer",
            versionSearch: "MSIE"
          },
          {
            string: navigator.userAgent,
            subString: "Gecko",
            identity: "Mozilla",
            versionSearch: "rv"
          },
          { 		// for older Netscapes (4-)
            string: navigator.userAgent,
            subString: "Mozilla",
            identity: "Netscape",
            versionSearch: "Mozilla"
          }
        ],
        dataOS : [
          {
            string: navigator.platform,
            subString: "Win",
            identity: "Windows"
          },
          {
            string: navigator.platform,
            subString: "Mac",
            identity: "Mac"
          },
          {
               string: navigator.userAgent,
               subString: "iPhone",
               identity: "iPhone/iPod"
            },
          {
            string: navigator.platform,
            subString: "Linux",
            identity: "Linux"
          }
        ]

      };
      BrowserDetect.init();

      var browserOk = false;
      if (BrowserDetect.browser == 'Explorer' && BrowserDetect.version >= 9) {
        browserOk = true;
      } else if (BrowserDetect.browser == 'Firefox' && BrowserDetect.version >= 7) {
        browserOk = true;
      } else if (BrowserDetect.browser == 'Chrome') {
        browserOk = true;
      } else if (BrowserDetect.browser == 'Safari' && BrowserDetect.version >= 5) {
        browserOk = true;
      }
      if (!browserOk) {
        alert("Anda memakai browser lama. Untuk menggunakan website ini dengan lancar, mohon upgrade ke IE 9+, Chrome, Safari, atau Firefox 7+.\n\nAnda akan kami redirect ke website Firefox Portable. Firefox Portable dapat diinstall tanpa mengharuskan Anda menjadi Administrator (bisa diinstall komputer umum seperti di warnet, perpustakaan)");
        window.open('http://portableapps.com/apps/internet/firefox_portable');
      }
          
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    #main{:role => "main", :style => 'margin-top:60px'}
      .container
        .content
          .row
            .span12
              = render 'layouts/messages'
              = yield
          %footer
            %div{:style=>'text-align:center; margin-top:20px; font-size:small; margin-bottom:20px'}
              &copy; 2013 Forum Indonesia Muda
      / ! end of .container
    / ! end of #main
